<div class="popover medium">
  <div class="arrow"></div>
  <h3 class="popover-title" >Columns</h3>
  <div class="popover-content" ng-show="searchQuery.dataType == 'Readings'" >
  	<input type="text" class="form-control" placeholder="Search" ng-model="r"><br>
    <div ng-if="filtered.length == 0">
      <b>No columns matched '{{r}}'</b>
    </div>
    <div style="max-height: 200px; overflow-y: scroll" >
      <div class="checkbox" ng-repeat="rdatascolumn in filtered = (rdatascolumns | filter: r | filter: columnFilter)" ng-if="rdatascolumn.value">
        <label>
          <input type="checkbox" value="" ng-model="rdatascolumn.selected">
          {{rdatascolumn.value}} {{rdatacolumn}}
        </label>
      </div>
    </div>
  </div>
  <div class="popover-content" ng-show="searchQuery.dataType == 'Scores'" >
    <input type="text" class="form-control" placeholder="Search" ng-model="c"><br>
    <div style="height: 150px; min-height: 20px; overflow-y: scroll" ng-if="filtered.length > 0">
      <div class="checkbox" ng-repeat="cdatascolumn in filtered = (cdatascolumns | filter: c)" ng-if="cdatascolumn.value">
        <label>
          <input type="checkbox" value="" ng-model="cdatascolumn.selected">
          {{cdatascolumn.value}}
        </label>
      </div>
    </div>
    <div ng-if="filtered.length == 0">
      <b>No columns matched '{{c}}'</b>
    </div>
  </div>
  <div class="popover-footer text-right">
  <a class="btn btn-primary" ng-click="$hide()">OK</a> <!-- <a class="btn btn-primary" ng-click="$hide()">Save</a> -->
  </div>
</div>
