<div class="popover">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" >Images</h3> -->
  <div class="popover-content" >
  <div style="max-height: 200px; overflow-y: scroll" >
    <div class="radio" ng-repeat="columnName in columnNames" ng-if="columnName.value">
  	<label >
      <input type="radio" value="{{columnName._id}}" ng-model="caseToAdd.criteria" name="criteria" ng-change='loadValues()'/>{{columnName.value}}
    </label>
    </div>
  </div>
  </div>
</div>
