<div class="popover">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" >Images</h3> -->
  <div class="popover-content" >
    <div class="form-group">
      <input type="text" class="form-control" id="" placeholder="Filter {{caseToAdd.criteria}}" ng-model="filterq">
    </div>
    <div style="max-height: 200px; overflow-y: scroll" >
    	<div class="checkbox" ng-repeat="columnValue in columnValues | filter:filterq">
      <label >
        <input type="checkbox" value="{{columnValue}}" ng-checked="caseToAdd.value.indexOf(columnValue) > -1" ng-click="toggleSelection(columnValue)" name="selectedValues[]" />{{columnValue}}
      </label>
      </div>
    </div>
  </div>
</div>
