<div class="popover medium">
  <div class="arrow"></div>
  <h3 class="popover-title" >Data Type</h3>
  <div class="popover-content" >
    <div class="checkbox" ng-repeat="dataType in dataTypes">
      <label>
        <input type="radio" value="{{dataType.value}}" ng-model="searchQuery.dataType" ng-change="changeDataType()">
        {{dataType.label}}
      </label>
    </div>
  </div>
  <div class="popover-footer text-right">
  <!-- <a class="btn btn-link" ng-click="$hide()">Cancel</a> --> <a class="btn btn-primary" ng-click="$hide()">OK</a>
  </div>
</div>