<div class="popover medium">
  <div class="arrow"></div>
  <h3 class="popover-title" >Download</h3>
  <div class="popover-content" >
    <div class="checkbox">
      <label>
        <input type="radio" value="zip" ng-model="downloadType.name">
        Download as Zip
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="radio" value="email" ng-model="downloadType.name">
        Send download link to your Email
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="radio" value="googledrive" ng-model="downloadType.name">
        Download to Google Drive
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="radio" value="dropbox" ng-model="downloadType.name">
        Download to Dropbox
      </label>
    </div>
    <div ng-if="searchQuery.dataType == 'Cases'">
      <b>Download Images as:</b>
      <div class="checkbox">
        <label>
          <input type="radio" value="DICOM" ng-model="downloadType.imagetype">
          DICOM
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="radio" value="JPG" ng-model="downloadType.imagetype">
          JPGs
        </label>
      </div>
    </div>
  </div>
  <div class="popover-footer text-right">
  <a class="btn btn-link" ng-click="$hide()">Cancel</a> <a class="btn btn-primary" ng-click="download();$hide()">Download</a>
  </div>
</div>
