<div class="popover medium">
  <div class="arrow"></div>
  <h3 class="popover-title">
    Filter
  </h3>
  <div class="popover-content" >

      <div ng-show="searchQuery.dataType == 'Readings'">
        <input type="text" class="form-control" placeholder="Search" ng-model="qReaderTypes"><br>
        <div style="max-height: 200px; overflow-y: scroll" >
        <div class="checkbox" ng-repeat="columnName in filtered = (columnNames | filter:qReaderTypes) as results" ng-if="columnName.name.value">
          <label>
            <input type="checkbox" name="columnName" value="{{columnName.name._id}}" ng-change="loadValues()" ng-model="columnName.selected">
            {{columnName.name.value}}
          </label>
        </div>
        </div>
        <div ng-if="filtered.length == 0">
          <b>No columns matched '{{qReaderTypes}}'</b>
        </div>
      </div>

      <div ng-show="searchQuery.dataType == 'Cases'">
        <input type="text" class="form-control" placeholder="Search" ng-model="qReaderTypes"><br>
        <div style="max-height: 200px; overflow-y: scroll" >
        <div class="checkbox" ng-repeat="columnName in filtered = (columnNames | filter:qReaderTypes) as results" ng-if="columnName.name.value">
          <label>
            <input type="checkbox" name="columnName" value="{{columnName.name._id}}" ng-change="loadValues()" ng-model="columnName.selected">
            {{columnName.name.value}}
          </label>
        </div>
        </div>
        <div ng-if="filtered.length == 0">
          <b>No columns matched '{{qReaderTypes}}'</b>
        </div>
      </div>

      <div ng-show="searchQuery.dataType == 'Scores'">
        <input type="text" class="form-control" placeholder="Search" ng-model="qReaderTypes"><br>
        <div style="max-height: 200px; overflow-y: scroll" >
        <div class="checkbox" ng-repeat="columnName in filtered = (scoresColumnNames | filter:qReaderTypes) as results" ng-if="columnName.name.value">
          <label>
            <input type="checkbox" name="columnName" value="{{columnName.name._id}}" ng-change="loadScoreValues()" ng-model="columnName.selected">
            {{columnName.name.value}}
          </label>
        </div>
        </div>
        <div ng-if="filtered.length == 0">
          <b>No columns matched '{{qReaderTypes}}'</b>
        </div>
      </div>
    <!-- If Data Type is Reading -->
    <!-- <div ng-switch="searchQuery.dataType">
      <div ng-switch-when="Readings">
        <input type="text" class="form-control" placeholder="Search" ng-model="qReaderTypes"><br>
        <div class="checkbox" ng-repeat="columnName in columnNames | filter:qReaderTypes as results">
          <label>
            <input type="radio" name="columnName" value="{{columnName}}" ng-change="loadValues()" ng-model="searchQuery.columnName">
            {{columnName}}
          </label>
        </div>
      </div>

      <div ng-switch-when="Cases">
        <div class="checkbox" ng-repeat="caseType in searchQuery.dataTypes[1].caseTypes">
          <label>
            <input type="radio" value="{{caseType.value}}">
            {{caseType.label}}
          </label>
        </div>
      </div>
    </div>
  </div> -->
  
</div>
<div class="popover-footer text-right">
  <!-- <a class="btn btn-link" ng-click="$hide()">Cancel</a> --> <a class="btn btn-primary" ng-click="$hide()">OK</a>
  </div>
