<div class="popover medium">
  <div class="arrow"></div>
  <h3 class="popover-title">
  {{columnValuesPopover[0].name.value}}
  </h3>
  <div class="popover-content" >
    <!-- If Data Type is Reading -->
    <div>
      <div>
        <input type="text" class="form-control" placeholder="Search" ng-model="qDataTypes"><br>
        <div style="max-height: 200px; overflow-y: scroll" >
        <div class="checkbox" ng-repeat="columnValue in filtered = (columnValuesPopover[0].columns | filter:qDataTypes) as results" ng-if="columnValue.label != 'None'">
          <label>
            <input type="checkbox" ng-model="columnValue.selected" ng-click="setColumnValues(columnValue)">
            {{columnValue.label}}
          </label>
        </div>
        </div>
        <div ng-if="filtered.length == 0">
          <b>No values matched '{{qDataTypes}}'</b>
        </div>
      </div>
    </div>
  </div>
  <div class="popover-footer text-right">
  <!-- {{columnValuesPopover}} -->
  <!-- <a class="btn btn-link" ng-click="$hide()">Cancel</a> --> <a class="btn btn-primary" ng-click="$hide()">OK</a>
  </div>
</div>
