<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content" >
    <div class="radio">
      <label>
        <input type="radio" value="" name="numberItems">
        5
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" value="" name="numberItems">
        10
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" value="" name="numberItems">
        25
      </label>
    </div>
  </div>
</div>
