<div class="popover">
  <div class="arrow"></div>
  <div class="popover-content" >
  	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    General Radiologist
	  </label>
	</div>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Breastscreen Radiologist
	  </label>
	</div>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Registrar / Fellow
	  </label>
	</div>
	<a class="btn btn-link"><i class="glyphicon glyphicon-plus"></i> Add</a>
  </div>
</div>
