<div class="popover">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" >Images</h3> -->
  <div class="popover-content" >
  	<button type="button" class="btn btn-default btn-block text-left"><i class="glyphicon glyphicon-thumbs-up"></i> Approve Requests</button>
    <button type="button" class="btn btn-default btn-block text-left"><i class="glyphicon glyphicon-thumbs-down"></i> Disapprove Requests</button>
  </div>
</div>
