<div class="popover">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" >Images</h3> -->
  <div class="popover-content" >
  <div style="max-height: 200px; overflow-y: scroll" >
    <div class="radio" ng-repeat="scoresColumnName in scoresColumnNames" ng-if="scoresColumnName.value">
  	<label >
      <input type="radio" value="{{scoresColumnName._id}}" ng-model="scoreToAdd.criteria" name="scriteria" ng-change='loadScoreValues()'/>{{scoresColumnName.value}}
    </label>
    </div>
  </div>
  </div>
</div>
