<div class="popover">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" >Images</h3> -->
  <div class="popover-content" >
    <div class="form-group">
      <input type="text" class="form-control" id="" placeholder="Filter {{scoreToAdd.criteria}}" ng-model="filterqq">
    </div>
    <div style="max-height: 200px; overflow-y: scroll" >
    	<div class="checkbox" ng-repeat="scoreColumnValue in scoreColumnValues | filter:filterqq">
      <label >
        <input type="checkbox" value="{{scoreColumnValue}}" ng-checked="scoreToAdd.value.indexOf(scoreColumnValue) > -1" ng-click="toggleScoreSelection(scoreColumnValue)" name="selectedScoreValues[]" />{{scoreColumnValue}}
      </label>
      </div>
    </div>
  </div>
</div>
