<div class="popover medium">
  <div class="arrow"></div>
  <h3 class="popover-title" >Test Set</h3>
  <div class="popover-content" >
  	<input type="text" class="form-control" placeholder="Search" ng-model="qTestSet"><br>
    <div style="max-height: 200px; overflow-y: scroll" >
      <div class="checkbox" ng-repeat="testSet in filtered = (testSets | filter:qTestSet) as results">
        <label>
          <input type="checkbox" value="testSet" ng-model="testSet.selected" ng-click="changeTestSets()">
          {{testSet.label}}
        </label>
      </div>
    </div>
    <div ng-if="filtered.length == 0">
      <b>No testsets matched '{{qTestSet}}'</b>
    </div>
  </div>
  <div class="popover-footer text-right">
  <a class="btn btn-primary" ng-click="$hide()">OK</a> <!-- <a class="btn btn-primary"  ng-click="$hide()">Save</a> -->
  </div>
</div>
