$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$navyBlue: #12416B;
$goldenYellow: #F5AF01;
$breastRed: #CE1127;

$green: #2DAA14;
$blue: #115897;

.btn-upload {
  position: relative;
  overflow: hidden;
  margin-top: 10px;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: opacity(0);
    transform: translate(-300px, 0) scale(4);
    -webkit-transform: translate(-300px, 0) scale(4);
    -ms-transform: translate(-300px, 0) scale(4);
    -o-transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
  }
}

// Fix for IE 6
* html .btn-upload {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

// Fix for IE 7
* + html .btn-upload {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

h1, h2, h3, h4 {
  color: $breastRed;
  &.divider {
    line-height: 32px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }

  a.back {
    background-image: url(../images/back.png);
    width: 34px;
    height: 34px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}

div.divider {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}

.btn {
}
.btn-dark {
  background-color: $navyBlue;
  color: white;
  &:hover {
    color: white;
  }
}
.btn-green {
  background-color: $green;
  color: white;
  &:hover {
    color: white;
  }
}
.btn-blue {
  background-color: $blue;
  color: white;
  &:hover {
    color: white;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
  max-width: 980px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Custom page header */
.header {
  margin-top: 10px;
  background-color: $navyBlue;
  margin-bottom: 10px;
  min-height: 130px;
  border-bottom: 10px solid $goldenYellow;
  border-right: 20px solid $goldenYellow;

  #logo {
    width: 200px;
    height: 80px;
    background-image: url(../images/breastlogo.png);
    background-size: contain;
    margin-left: -40px;
    float: left;
  }

  .user-div {
    padding: 10px;
    float: right;
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
    .user-name {
      display: inline-block;
      color: white;
      margin: 0 10px 0 0;
    }
    a {
      color: white;
      border-radius: 50px;
    }
  }

  /* Make the masthead heading the same height as the navigation */
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    float: right;
    font-size: 1.4em;
    color: white;
    padding: 10px;
    line-height: 2em;
  }
}


.container {
  max-width: 980px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  .row {
    // margin-left: 15px;
    // margin-right: 15px;
  }

  .form-horizontal {
    .col {
      padding-right: 0px;
    }
  }
}

article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;

  a.article-title.article-link {
    display: block;
    margin: 20px 0;
    font-size: 1.8em;
    color: $breastRed;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
    width: 100%;
  }

  .readmore {
    border: solid 1px $breastRed;
    color: $breastRed;
    font-weight: bold;
  }

  &:last-child {
    border-bottom: 0px;
  }
}

.modal {
  .btn {
    border-radius: 20px;
  }
  .datepicker {
    .btn {
      border: 0px;
      border-radius: 0px;
    }
  }
  .modal-header {
    button {
      background-color: $navyBlue;
      opacity: 1;
      border-radius: 100%;
      color: white;
      width: 30px;
      height: 30px;
      line-height: 0;
    }
  }
  .modal-title {
    color: $navyBlue;
  }
}

#mainView {
}
.mainContent {

  position: relative;
  overflow: visible;
  min-height: 500px;

  &.has-rightSideBar {
    >div:first-child {
      width: 740px;
      float: left;
    }
  }

  >div:first-child {
    padding: 20px 15px 50px 15px;
  }

  #rightSideBar {
    position: absolute;
    height: 100%;
    right: 0px;
    margin-top: 20px;
    background-color: lightgray;
    float: right;
    width: 230px;
    padding: 15px;

    h4, a {
      color: $navyBlue;
    }

    h4.title {
      border-bottom: 1px solid $navyBlue;
      padding-bottom: 10px;
    }

    #login {
      margin-bottom: 20px;
    }
  }
}

.registrationstate {
  width: 100%;
  margin-bottom: 20px;
}

.popover {
  &.medium {
    width: 250px;
  }
  .popover-title {
    color: $navyBlue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .popover-footer {
    padding: 10px;
    border-top: 1px solid lightgray;
  }
}

.form-registration {

  .btn {
    &.btn-popover {
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      .caret {
        float: right;
        top: 15px;
        position: absolute;
        right: 8px;
      }
      &+.popover {
        width: calc(100% - 30px) !important;
        right: 0px;
      }
    }
  }

  .datepicker {
    .btn {
      border: 0px !important;
    }
  }

  .researcher {
    margin-bottom: 20px;
  }

  .buttons {
    .btn {
      border-radius: 50px;
      padding: 10px 30px;
    }
  }
  .subsection {
    color: $breastRed;
  }
  .subsubsection {
    font-weight: normal;
  }
  em {
    color: gray;
  }
}

#searchoptions {
  background-color: $navyBlue;
  padding: 20px 0;

  .btn {
    &.btn-popover {
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      .caret {
        float: right;
        top: 15px;
        position: absolute;
        right: 8px;
      }
      &+.popover {
      }
    }
  }
}

#searchresults {
  padding: 20px 0;

  .btn {
    &.btn-popover {
      text-align: left;
      .caret {
        float: right;
        top: 8px;
        position: relative;
        right: 0px;
      }
      &+.popover {
      }
    }
  }

  .pagination {
    margin: 0px;
  }
}

/* Custom page footer */
.footer {
  max-width: 980px;
  margin: 0 auto 10px auto;
  color: #777;
  background-color: lightgray;
  padding: 10px;
  p {
    margin-bottom: 0px;
  }
}


@media screen and (max-width: 984px) {
  .mainContent {

    &.has-rightSideBar {
      >div:first-child {
        width: 100%;
        float: none;
      }
    }

    >div:first-child {
      padding: 20px;
    }

    #rightSideBar {
      position: relative;
      width: 100%;
    }
  }

  article {

    a.article-title.article-link {
    }
    img {
      width: 100%;
    }

    .readmore {
    }

    &:last-child {
    }
  }

  .container {

    .row {
      // margin-left: 15px;
      // margin-right: 15px;
    }

    .form-horizontal {
      .col {
        padding-right: 15px;
      }
    }
  }

  .header {
    margin-top: 0px;
    border-bottom: 0px solid $goldenYellow !important;
    border-right: 0px solid $goldenYellow !important;

    #logo {
      margin-left: 0px !important;
    }
  }
}

#usersLoggedIn {
  width: 100%;
  min-height: 200px;
}

table {
  tr.user {
    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
  }
}

.panel-request {
  .panel-heading {
    a {
      color: white;
      cursor: pointer;
    }
  }
  .panel-body {
    padding: 10px 30px;
  }
}

.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.panel-request .panel-heading a {
  color: black;
}

#cases {
  margin-top: 60px;

  .case {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;

    h5 {
      font-weight: bold;
      margin-top: 0px;
      color: $breastRed;
    }

    input {
      position: absolute;
      transform: scale(1.4);
      margin: 10px;
    }
  }
}

.folder {
  div.btn-block {
    margin: 10px 0;
    text-align: left;
    i {
      margin-right: 10px;
    }
  }
  &.hover {
    background-color: $navyBlue;
  }
}
