<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item active">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item">User List</a>
            <a href="#/admin/requests" class="list-group-item">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item">Inquiries</a>
            <a href="#/admin/import" class="list-group-item">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <h3 class=""><b>Welcome {{user.u_fname}}!</b></h3>

            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Pending Inquiries ({{inquiries.length}})</b>
                <div class="pull-right">
                <a class="btn btn-danger btn-xs" ng-disabled="!hasSelectedI()" ng-click="showRejectInquiryModal('selected')" title="Disapprove Requests" ><i class="glyphicon glyphicon-remove"></i> Reject Inquiry(ies)</a>
                <a class="btn btn-success btn-xs" ng-disabled="!hasSelectedI()" ng-click="showApproveInquiryModal('selected')" title="Approve Requests"><i class="glyphicon glyphicon-thumbs-up"></i> Approve Inquiry(ies) &amp; Create Users</a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="30"><input type="checkbox" ng-click="selectAllInquiries()" ng-model="selectAllI"></th>
                      <th>Title</th>
                      <th width="50">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="inquiry in inquiries track by $index">
                    <td><input type="checkbox" ng-model="inquiry.selected"></td>
                    <td><a href="#/admin/inquiries/{{inquiry._id}}"><b>{{inquiry.u_fname}} {{inquiry.u_lname}}</b> - {{inquiry.messtype}}</a><br>
                    <small>Date Created: {{inquiry.DateCreated | date : 'short'}}</small><br>
                    <small ng-show="inquiry.approvedDate">Date Approved: {{inquiry.approvedDate | date : 'short'}}</small>
                    </td>
                    <td>
                      <a class="btn btn-danger btn-xs" title="Reject" ng-show="!inquiry.approvedDate" ng-click="showRejectInquiryModal(inquiry._id)"><i class="glyphicon glyphicon-remove"></i></a>
                      <a class="btn btn-success btn-xs" ng-show="!inquiry.approvedDate" ng-click="showApproveInquiryModal(inquiry._id)" title="Approve &amp; Create User"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    </td>
                  </tr>
                  <tr ng-if="inquiries.length == 0">
                    <td colspan="3">
                      <b>There are no pending inquiry(ies)</b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Pending Requests ({{requests.length}})</b>
                <div class="pull-right">
                <a class="btn btn-danger btn-xs" ng-disabled="!hasSelected()" ng-click="showDisapproveRequestModal('selected')" title="Disapprove Requests" ><i class="glyphicon glyphicon-thumbs-down"></i> Disapprove Request(s)</a>
                <a class="btn btn-success btn-xs" ng-disabled="!hasSelected()" ng-click="showApproveModal('selected')" title="Approve Requests"><i class="glyphicon glyphicon-thumbs-up"></i> Approve Request(s)</a>
                </div>
                <!-- <a class="btn btn-default btn-popover pull-right btn-xs" type="button" data-placement="bottom-right" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/requestBulk.tpl.html" data-auto-close="1" >More <span class="caret"></span></a> -->
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="30"><input type="checkbox" ng-click="selectAllPendingRequests()" ng-model="selectAll"></th>
                      <th>Title</th>
                      <th width="100">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="request in requests track by $index">
                    <td><input type="checkbox" ng-model="request.selected"></td>
                    <td><a href="#/admin/requests/{{request._id}}"><b ng-if="request.project_title">{{request.project_title}}</b><b ng-if="!request.project_title">&lt;Empty&gt;</b></a><br><a href="#/admin/users/{{request.userID._id}}"> {{request.userprofileID.u_fname}} {{request.userprofileID.u_lname}}</a><br>
                    <small>Date Requested: {{request.date_request | date : 'mediumDate'}}</small><br>
                    <!-- <span ng-if="request.approve_tag == 'YES'"><small>Date Approved: {{request.approve_date | date : 'mediumDate'}}</small><br></span>
                    <span ng-if="request.approve_tag == 'YES'"><small>Date Expiry: {{request.expirationDate | date : 'mediumDate'}}</small><br></span>
                    <span ng-if="request.approve_tag == 'NO'"><span class="label label-default">Unapproved</span><br></span>
                    <span ng-if="request.approve_tag == 'YES'"><span class="label label-success">Approved</span><br></span> -->
                    </td>
                    <td>
                      <a class="btn btn-default btn-xs" ng-click="showShareModal(request._id)" title="Share Request"><i class="glyphicon glyphicon-share"></i></a>
                      <a class="btn btn-danger btn-xs" ng-if="request.approve_tag == 'NO'" ng-click="showDisapproveRequestModal(request._id)" title="Disapprove Requests" title="Disapprove Requests"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                      <a class="btn btn-success btn-xs" ng-if="request.approve_tag == 'NO'" ng-click="showApproveModal(request._id)" title="Approve Request"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                      <!-- <a class="btn btn-default btn-xs" ng-if="request.approve_tag == 'YES'" ng-click="showSetExpiryModal(request._id)"><i class="glyphicon glyphicon-th" title="Set Expi"></i></a> -->
                    </td>
                  </tr>
                  <tr ng-if="requests.length == 0">
                    <td colspan="3">
                      <b>There are no request(s)</b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><b>Users</b></div>
              <div class="panel-body">
                <canvas id="usersLoggedIn"></canvas>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                Quick Links
              </div>
            </div>
          </div> -->

          <!-- <div class="col-md-12">
          <pre>
          {{user}}
          </pre>
          </div> -->

        </div>
    </div>
  </div>
</div>
