<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item">User List</a>
            <a href="#/admin/requests" class="list-group-item">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item">Inquiries</a>
            <a href="#/admin/import" class="list-group-item active">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <h3 class=""><b>Import Test Sets</b></h3>
          <div class="col-md-8">
          </div>
          <div class="clear"></div>
          <div  class="col-md-8 folder">
            <div class="btn btn-default btn-block text-left btn-upload" method="POST" upload-button param="test_sets" url="{{serverIP}}/api/1.0/parse" on-upload="onUploadTestSet(files)" on-complete="onCompleteTestSet(response)">
              <i class="glyphicon glyphicon-folder-open"></i> Select a File
            </div>
          </div>

          <div class="clear"></div>

          <h3 class=""><b>Import Scores</b></h3>
          <div class="col-md-8">
          </div>
          <div class="clear"></div>
          <div  class="col-md-8 folder">
            <div class="btn btn-default btn-block text-left btn-upload" method="POST" upload-button param="scores" url="{{serverIP}}/api/1.0/parseScore" on-upload="onUploadScores(files)" on-complete="onCompleteScores(response)">
              <i class="glyphicon glyphicon-folder-open"></i> Select a File
            </div>
          </div>

          <div class="clear"></div>

          <h3 class=""><b>Import Images</b></h3>
          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="q" placeholder="Filter Folders" style="margin-bottom:20px;">
          </div>
          <div class="clear"></div>
          <div ng-repeat="folder in folders | filter: q" class="col-md-4 folder" on-finish-render="ngRepeatFinished">
            <div class="btn btn-default btn-block text-left btn-upload" method="POST" upload-button param="image" url="{{serverIP}}/api/1.0/images/{{folder}}" on-upload="onUpload(files)" on-complete="onComplete(response)">
              <i class="glyphicon glyphicon-folder-open"></i> {{folder}}
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
