<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item">User List</a>
            <a href="#/admin/requests" class="list-group-item">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item active">Inquiries</a>
            <a href="#/admin/import" class="list-group-item">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <ol class="breadcrumb">
            <li><a href="#/admin">Admin</a></li>
            <li><a href="#/admin/inquiries">Inquiries</a></li>
            <li class="active">{{inquiry._id}}</li>
          </ol>

          <h3 class=""><b>Inquiry</b>
            <div class="pull-right">
              <a class="btn btn-danger" ng-click="showRejectInquiryModal(inquiry._id)" ng-if="!inquiry.approvedDate" title="Reject"><i class="glyphicon glyphicon-remove"></i> Reject Inquiry </a>
              <a class="btn btn-success" ng-click="showApproveInquiryModal(inquiry._id)" ng-if="!inquiry.approvedDate" title="Approve &amp; Create User"><i class="glyphicon glyphicon-thumbs-up"></i> Approve Inquiry</a>
              <a class="btn btn-danger" ng-click="removeInquiry(inquiry._id)" ng-if="inquiry.approvedDate" title="Remove"><i class="glyphicon glyphicon-trash"></i> Remove Inquiry </a>
            </div>
          </h3>
          
          <p>
            <b>Rquest ID#:</b> {{inquiry._id}}<br>
            <b>Requested by:</b> {{inquiry.u_fname}} {{inquiry.u_lname}} <a href="mailto:{{inquiry.u_email}}">&lt;{{inquiry.u_email}}&gt;</a><br>
            <b>Requested Date:</b> {{inquiry.DateCreated | date : 'mediumDate'  }}<br>
            <span ng-if="inquiry.approvedDate"><b>Approved Date:</b> {{inquiry.approvedDate | date : 'mediumDate'  }}</span>
          </p>

          <p>
            <b>Status:</b> {{inquiry.status}}</b>
          </p>

          <p ng-show="inquiry.status == 'REJECTED'">
            <b>Message for rejection:</b> <br>
            {{inquiry.r_message}}
          </p>

          <p ng-show="inquiry.status == 'APPROVED'">
            <b>Message for approval:</b> <br>
            {{inquiry.r_message}}
          </p>

          <p>
            <b>Subject:</b> {{inquiry.subject}}</b>
          </p>

          <p>
            <b>Type:</b> {{inquiry.messtype}}</b>
          </p>

          <p>
            <b>Message:</b> <br>
            {{inquiry.message}}
          </p>

          </div>

        </div>
    </div>
  </div>
</div>
