<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item">User List</a>
            <a href="#/admin/requests" class="list-group-item">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item active">Inquiries</a>
            <a href="#/admin/import" class="list-group-item">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <h3 class=""><b>Inquiries</b></h3>

            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Inquiries ({{inquiries.length}})</b>
                <div class="pull-right">
                <!-- <a class="btn btn-danger btn-xs" ng-disabled="!hasSelectedI()" ng-click="showRejectInquiryModal('selected')" title="Disapprove Requests" ><i class="glyphicon glyphicon-remove"></i> Reject Inquiry(ies)</a>
                <a class="btn btn-success btn-xs" ng-disabled="!hasSelectedI()" ng-click="showApproveInquiryModal('selected')" title="Approve Requests"><i class="glyphicon glyphicon-thumbs-up"></i> Approve Inquiry(ies) &amp; Create Users</a> -->
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="30"><input type="checkbox" ng-click="selectAllInquiries()" ng-model="selectAllI"></th>
                      <th>Title</th>
                      <th width="50">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="inquiry in inquiries track by $index">
                    <td><input type="checkbox" ng-model="inquiry.selected"></td>
                    <td><a href="#/admin/inquiries/{{inquiry._id}}"><b>{{inquiry.u_fname}} {{inquiry.u_lname}}</b> - {{inquiry.messtype}}</a><br>
                    <small>Date Created: {{inquiry.DateCreated | date : 'short'}}</small><br>
                    <small ng-show="inquiry.approvedDate">Date Approved: {{inquiry.approvedDate | date : 'short'}}</small>
                    </td>
                    <td>
                      <a class="btn btn-danger btn-xs" title="Reject" ng-show="!inquiry.approvedDate" ng-click="showRejectInquiryModal(inquiry._id)"><i class="glyphicon glyphicon-remove"></i></a>
                      <a class="btn btn-success btn-xs" ng-show="!inquiry.approvedDate" ng-click="showApproveInquiryModal(inquiry._id)" title="Approve &amp; Create User"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                      <a class="btn btn-danger btn-xs" ng-show="inquiry.approvedDate" ng-click="removeInquiry(inquiry._id)" title="Remove Inquiry"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                  </tr>
                  <tr ng-if="inquiries.length == 0">
                    <td colspan="3">
                      <b>There are no inquiry(ies)</b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

           

          </div>

        </div>
    </div>
  </div>
</div>
