<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#/search" class="list-group-item">Search</a>
          <a href="#/admin" class="list-group-item">Admin Dashboard</a>
          <a href="#/admin/users" class="list-group-item">User List</a>
          <a href="#/admin/requests" class="list-group-item active">Request List</a>
          <a href="#/admin/inquiries" class="list-group-item">Inquiries</a>
          <a href="#/admin/import" class="list-group-item">Import</a>
        </div>
      </div>
      <div class="form-horizontal col-md-9">

        <div class="col-md-12">

          <ol class="breadcrumb">
            <li><a href="#/admin">Admin</a></li>
            <li><a href="#/admin/requests">Request List</a></li>
            <li class="active">{{request._id}}</li>
          </ol>

          <h3 class="">
            <b>{{request.project_title}}</b>
            <div class="pull-right">
              <a class="btn btn-default" ng-click="showShareModal(request._id)"><i class="glyphicon glyphicon-share"></i> Share</a>
              <a class="btn btn-default" ng-if="request.approve_tag == 'YES'" ng-click="showSetExpiryModal(request._id)"><i class="glyphicon glyphicon-th"></i> Set Expiry</a>
              <a class="btn btn-danger" ng-click="showDisapproveRequestModal(request._id)" ng-if="request.approve_tag == 'NO'"><i class="glyphicon glyphicon-thumbs-down"></i> Reject</a>
              <a class="btn btn-success" ng-click="showApproveModal(request._id)" ng-if="request.approve_tag == 'NO'"><i class="glyphicon glyphicon-thumbs-up"></i> Approve</a>
              <a class="btn btn-danger" ng-click="revoke()" ng-if="request.approve_tag == 'YES'"><i class="glyphicon glyphicon-thumbs-remove"></i> Revoke</a>
            </div>
          </h3>
          <p>
            Rquest ID#: {{request._id}}<br>
            Requested by: <a href="#/admin/users/{{request.userID}}"><b>{{request.u_fname}} {{request.u_lname}}</b></a><br>
            <small>Date Requested: {{request.date_request | date : 'mediumDate'}}</small><br>
            <span ng-if="request.approve_tag == 'YES'"><small>Date Approved: {{request.approve_date | date : 'mediumDate'}}</small><br></span>
            <span ng-if="request.approve_tag == 'YES'"><small>Date Expiry: {{request.expirationDate | date : 'mediumDate'}}</small><br></span>
          </p>
          <p><span ng-if="request.approve_tag == 'NO'" class="label label-default">Unapproved</span> <span ng-if="request.approve_tag == 'YES'" class="label label-success">Approved</span></p>
          <br>


          <div class="panel-group" role="tablist" aria-multiselectable="true" data-start-collapsed="true" bs-collapse>
            <div class="panel panel-request panel-default">
              <div class="panel-heading">
                <a bs-collapse-toggle><b>1. Project Title</b></a>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="form-group">
                    <label for="projectitle">Project Title</label>
                    <input type="text" class="form-control col-md-8" disabled id="projectitle" placeholder="Project Title" ng-model="request.project_title">
                    <div class="clear"></div>
                  </div>
                  <div class="divider"></div>
                  <h4>Chief Investigator's Details</h4>
                  <div class="form-horizontal">

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Full Name</label>
                      <div class="col-sm-9">
                        <div class="col col-md-2">
                          <input type="text" class="form-control" disabled ng-model="request.u_title" placeholder="MI">
                        </div>
                        <div class="col col-md-4">
                          <input type="text" class="form-control" disabled ng-model="request.u_fname" placeholder="First Name">
                        </div>
                        <div class="col col-md-2">
                          <input type="text" class="form-control" disabled ng-model="request.u_mi" placeholder="MI">
                        </div>
                        <div class="col col-md-4">
                          <input type="text" class="form-control" disabled ng-model="request.u_lname" placeholder="Surname">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Department</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled placeholder="Department" ng-model="request.department">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Institution</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled placeholder="Institution" ng-model="request.institution">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Postal Address</label>
                      <div class="col-sm-9">
                        <div class="col col-md-12">
                          <input type="text" class="form-control" disabled placeholder="Postal Address" ng-model="request.postaladdress">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">City/Suburb</label>
                      <div class="col-sm-9">
                        <div class="col col-md-3">
                          <input type="text" class="form-control" disabled ng-model="request.city" placeholder="City">
                        </div>
                        <div class="col col-md-3">
                          <input type="text" class="form-control" disabled ng-model="request.suburb" placeholder="Suburb">
                        </div>
                        <div class="col col-md-3">
                          <input type="text" class="form-control" disabled ng-model="request.state" placeholder="State">
                        </div>
                        <div class="col col-md-3">
                          <input type="text" class="form-control" disabled ng-model="request.postcode" placeholder="Postcode">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Country</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled ng-model="request.country" placeholder="Country">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Phone</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled ng-model="request.phone" placeholder="Phone">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Fax</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled ng-model="request.fax" placeholder="Fax">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Mobile</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled ng-model="request.mobile" placeholder="Mobile">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group">
                      <label for="fullname" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-9">
                        <div class="col col-md-6">
                          <input type="text" class="form-control" disabled placeholder="Email" ng-model="request.email">
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- panel -->

          <div class="panel-group" role="tablist" aria-multiselectable="true" data-start-collapsed="true" bs-collapse>
            <div class="panel panel-request panel-default">
              <div class="panel-heading">
                <a bs-collapse-toggle><b>2. Project Information</b></a>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="">

                    <div class="form-group col-md-12">
                      <div class="">
                        <label for="">1. Summary of research project in lay language (<a>maximum 200 words</a>)</label>
                        <div ng-bind-html="request.summaryofresearch" name="summary" id="summary" rows="10" cols="80">
                        </div>
                      </div>
                    </div>

                    <!-- <div class="form-group col-md-10">
                      <div class="">
                        <label for="">2. Research Plan Information</label><br>
                        <label class="subsection" for="">Aim</label>
                        <div name="aim" id="aim" rows="10" cols="80" ng-bind-html="request.researchplaninfo">
                        </div><br>
                        <label class="subsection" for="">Project Methodology</label>
                        <div name="methodology" id="methodology" rows="10" cols="80" ng-bind-html="request.projectmethodology">
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-10">
                      <div class="">
                        <label for="" class="subsection">Data Request</label><br>
                        <label for="" class="subsubsection">Number of readers from whom data are requested</label>
                        <div class="form-inline">
                          <input type="text" class="form-control col-md-4" id="" disabled placeholder="" ng-model="request.datareqnumber">
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <div class="">
                        <label for="" class="subsection">Type of Case</label><br>
                        <div class="form-inline">
                          <input type="text" class="form-control col-md-4" id="" disabled placeholder="" ng-model="request.typeofcase">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <div class="">
                        <label for="" class="subsection">Number of Case/s</label><br>
                        <div class="form-inline">
                          <input type="text" class="form-control col-md-4" id="" disabled placeholder="" ng-model="request.numberofcase">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-10">
                      <div class="">
                        <label for="" class="subsection">Equipment</label><br>
                        <div class="form-inline">
                          <input type="text" class="form-control col-md-4" id="" disabled placeholder="" ng-model="request.equipment">
                        </div>
                      </div>
                    </div> -->

                    <div class="form-group col-md-10">
                      <div class="">
                        <label class="subsection" for="">Statistical Justification</label>
                        <div name="statisticaljustification" id="statisticaljustification" ng-bind-html="request.statisticaljustification" rows="10" cols="80">
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-10">
                      <label for="">3. Start Date and End Date</label>
                      <div class="">
                        <div class="col-xs-6">
                          <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Start Date <small>(month/day/year)</small></label><br>
                          <input type="text" class="form-control" disabled ng-model="request.startdate" data-max-date="{{untilDate}}" placeholder="Start Date" bs-datepicker>
                        </div>
                        <div class="col-xs-6">
                          <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>End Date <small>(month/day/year)</small></label><br>
                          <input type="text" class="form-control" disabled ng-model="request.enddate" data-min-date="{{fromDate}}" placeholder="End Date" bs-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-10">
                      <label for="fullname" class="control-label">4. Other researchers collaborating on Project</label>

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Fullname</th>
                            <th>Department</th>
                            <th>Institution</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="otherResearcher in request.orcp track by $index">
                            <td>{{otherResearcher.orcp_fullname}}</td>
                            <td>{{otherResearcher.orcp_department}}</td>
                            <td>{{otherResearcher.orcp_institution}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="form-group col-md-12">

                      <div class="clear"></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- panel -->

          <div class="panel-group" role="tablist" aria-multiselectable="true" data-start-collapsed="true" bs-collapse>
            <div class="panel panel-request panel-default">
              <div class="panel-heading">
                <a bs-collapse-toggle><b>3. Funding &amp; Ethics</b></a>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="">

                    <div class="form-group col-md-10">
                      <label for="">1. Have you secured funding for the research project?</label>
                      <div class="checkbox">
                        <label>
                          <input type="radio" ng-model="request.funding.one" disabled value="Yes"> Yes
                        </label>
                        <label>
                          <input type="radio" ng-model="request.funding.one" disabled value="No"> No
                        </label>
                        <label>
                          <input type="radio" ng-model="request.funding.one" disabled value="Pending"> Pending
                        </label>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="">2. If "Yes" or "Pending", please detail the funders who have approved are considering your project</label><br>
                      <div class="researcher">
                        <div class="col col-md-6">
                          <label><small><small>Funding Body</small></small></label>
                          <input type="text" class="form-control" disabled ng-model="request.funding.two.fundingbody" placeholder="Funding Body">
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label><small><small>Length or approved funding period in years</small></small></label>
                          <input type="text" class="form-control" disabled ng-model="request.funding.two.years" placeholder="Years">
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label><small><small>Funding Amount in Australian Dollars</small></small></label>
                          <input type="text" class="form-control" disabled ng-model="request.funding.two.aud" placeholder="Aud">
                        </div>
                        <div class="clear"></div>
                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group col-md-10">
                      <label for="">3. If you haven't secured funding, what is the status of your research project?</label><br>
                      <label class="subsubsection" for="">Please Provide details below (maximum 200 words)</label>
                      <div name="status" id="status" rows="10" cols="80" ng-bind-html="request.funding.three">
                      </div>
                    </div>

                    <div class="clear"></div>
                    <div class="divider"></div>
                    <div class="form-group col-md-12">
                      <label for="">1. Do you have Human Research Ethics Committee (HREC) approval to conduct this research project?</label>
                      <div class="checkbox">
                        <label>
                          <input type="radio" ng-model="request.ethics.hrec" disabled value="Yes"> Yes
                        </label>
                        <label>
                          <input type="radio" ng-model="request.ethics.hrec" disabled value="No"> No
                        </label>
                        <label>
                          <input type="radio" ng-model="request.ethics.hrec" disabled value="Pending"> Pending
                        </label>
                      </div>
                    </div>

                    <div class="clear"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- panel -->

          <div class="panel-group" role="tablist" aria-multiselectable="true" data-start-collapsed="true" bs-collapse>
            <div class="panel panel-request panel-default">
              <div class="panel-heading">
              <a bs-collapse-toggle><b>4. Resources Required</b></a>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="">

                    <div class="form-group col-md-12">
                      <label for="">What BREAST resources do you require for your project?</label><br>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="" class="control-label">Cases</label>
                      <div class="researcher">

                        <table class="table">
                          <thead>
                            <tr>
                              <th width="40%"><label class="subsection"><small>Criteria</small></label></th>
                              <th width="40%"><label class="subsection"><small>Values</small></label></th>
                              <th  width="20%"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="(key, value) in cases track by $index">
                              <td>{{key}}</td>
                              <td>
                                <div ng-repeat="val in value">
                                  {{val}}
                                </div>
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>


                      </div>
                      <div class="clear"></div>
                    </div>

                    <div class="form-group col-md-12">
                      <label for="" class="control-label">Reader Scores</label>
                      <div class="researcher">

                        <table class="table">
                          <thead>
                            <tr>
                              <th width="40%"><label class="subsection"><small>Criteria</small></label></th>
                              <th width="40%"><label class="subsection"><small>Values</small></label></th>
                              <th  width="20%"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="(key, value) in scores track by $index">
                              <td>{{key}}</td>
                              <td>
                                <div ng-repeat="val in value">
                                  {{val}}
                                </div>
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>


                      </div>
                      <div class="clear"></div>

                      <div class="form-group col-md-12">
                        <label for="">Any additional questionnaires or surveys intended for distribution to participants by BREAST MUST be supplied for review by the management team.</label><br>
                      </div>
                      <div class="clear"></div>

                      <div class="form-group col-md-12">
                        <label for="" class="control-label subsubsection">If applying for access to Readers’ data, do you intend to supply readers with an additional survey?</label>
                        <div class="researcher">

                        <div class="col-md-2">
                          <label>
                            <input type="radio" ng-model="request.additionalquestionnaires" ng-value="true" disabled="">
                            Yes
                          </label>
                        </div>

                        <div class="col-md-2">
                          <label>
                            <input type="radio" ng-model="request.additionalquestionnaires" ng-value="false" disabled="">
                            No
                          </label>
                        </div>
                    </div>
                    </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- panel -->

          <div class="panel-group" role="tablist" aria-multiselectable="true" data-start-collapsed="true" bs-collapse>
            <div class="panel panel-request panel-default">
              <div class="panel-heading">
                <a bs-collapse-toggle><b>5. Certfication by Applicant</b></a>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="">

                    <div class="form-group col-md-12">
                      <!-- <label for="">Applicant Full Name</label><br> -->
                      <div class="researcher" ng-class="validateihaveread_error ? 'has-error' : ''">
                        <div class="col col-md-1">
                          <input type="checkbox" id="ihaveread" value="1" disabled="" ng-model="request.certification_page.ihaveread">
                        </div>
                        <div class="col col-md-11">
                          <label for="ihaveread">I have read the BREAST Access and Management policy document and accept the terms of access outlined in the document.</label>
                        </div>
                      </div>

                      <div class="clear"></div>

                      <div class="researcher" ng-class="validateicertify_information_error ? 'has-error' : ''">
                        <div class="col col-md-1">
                          <input type="checkbox" id="icertify_information" value="1" disabled="" ng-model="request.certification_page.icertify_information">
                        </div>
                        <div class="col col-md-11">
                          <label for="icertify_information">I certify that the information I have provided in this form is accurate and true.</label>
                        </div>
                      </div>

                      <div class="clear"></div>

                      <div class="researcher" ng-class="validateiunderstand_error ? 'has-error' : ''">
                        <div class="col col-md-1">
                          <input type="checkbox" id="iunderstand" value="1" disabled="" ng-model="request.certification_page.iunderstand">
                        </div>
                        <div class="col col-md-11">
                          <label for="iunderstand">I understand that I must acknowledge the BREAST platform and its funders in publications and presentations that arise from this database.</label>
                        </div>
                      </div>

                      <div class="clear"></div>

                      <div class="researcher" ng-class="validateicertify_requested_error ? 'has-error' : ''">
                        <div class="col col-md-1">
                          <input type="checkbox" id="icertify_requested" value="1" disabled="" ng-model="request.certification_page.icertify_requested">
                        </div>
                        <div class="col col-md-11">
                          <label for="icertify_requested">I certify that the requested data will only be used for the project outlined in this application and for no other purpose.</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-12">
                    <!-- <label for="">Applicant Full Name</label><br> -->
                    <div class="researcher">
                      <div class="col col-md-4">
                        <label class="subsection"><small>First Name</small></label>
                        <input type="text" class="form-control" ng-model="request.certificationbyapplicant.c_fname" disabled="" placeholder="First Name">
                      </div>
                      <!-- <div class="col col-md-2">
                        <label class="subsection"><small>MI</small></label>
                        <input type="text" class="form-control" placeholder="MI" ng-model="request.certificationbyapplicant.c_mi" disabled="">
                      </div> -->
                      <div class="col col-md-4">
                        <label class="subsection"><small>Surname</small></label>
                        <input type="text" class="form-control" placeholder="Surname" ng-model="request.certificationbyapplicant.c_lname" disabled="">
                      </div>
                      <div class="clear"></div>
                      <!-- <div class="col col-md-5"><br>
                        <label class="subsection"><small>Signature</small></label>
                        <div class="" ng-if="request.certificationbyapplicant.file">
                          <img src="{{serverIP}}/{{request.certificationbyapplicant.file.url}}" alt="Signature" width="300" />
                        </div>
                      </div>
                      <div class="clear"></div> -->
                      <div class="col col-md-5"><br>
                        <label class="subsection"><small>Date</small></label>
                        <input type="text" class="form-control" name="date" ng-model="request.certificationbyapplicant.c_date" bs-datepicker disabled="">
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>

                    <div class="clear"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- panel -->

          <div class="panel-group" role="tablist" aria-multiselectable="true" data-start-collapsed="true" bs-collapse>
            <div class="panel panel-request panel-default">
              <div class="panel-heading">
                <a bs-collapse-toggle><b>6. Applicant Checklist</b></a>
              </div>
              <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                <div class="panel-body">
                  <div class="">

                    <div class="form-group col-md-12">
                      <h4>Applicant Checklist</h4>
                      <!-- <label for="">Applicant Full Name</label><br> -->
                      <div class="researcher">

                        <div class="col col-md-6">
                          <label class="subsection"><small>Documents to be attached to the application:</small></label>
                        </div>
                        <div class="col col-md-1">
                          <label class="subsection"><small>Yes</small></label>
                        </div>
                        <div class="col col-md-2">
                          <label class="subsection"><small>Pending</small></label>
                        </div>
                        <div class="col col-md-1">
                          <label class="subsection"><small>N/A</small></label>
                        </div>
                        <div class="clear"></div>

                        <div class="col col-md-6">
                          <label class="subsubsection"><small>CV of Chief Investigator</small></label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.cv_of_chief_inv.yes" disabled="">
                        </div>
                        <div class="col col-md-2">
                          <input type="checkbox"   value="1" ng-model="request.cv_of_chief_inv.pending" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.cv_of_chief_inv.notallowed" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.cv_of_chief_inv.file">
                          <a href="{{serverIP}}/{{request.cv_of_chief_inv.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="clear"></div>

                        <div class="col col-md-6">
                          <label class="subsubsection"><small>Proof of Funding</small></label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1"  ng-model="request.proof_of_funding.yes" disabled="">
                        </div>
                        <div class="col col-md-2">
                          <input type="checkbox"   value="1"  ng-model="request.proof_of_funding.pending" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1"  ng-model="request.proof_of_funding.notallowed" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.proof_of_funding.file">
                          <a href="{{serverIP}}/{{request.proof_of_funding.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="clear"></div>

                        <div class="col col-md-6">
                          <label class="subsubsection"><small>Copies of any questionnaires or surveys you wish to have BREAST distribute to a participant group</small></label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1"  ng-model="request.copies_of_questionnaires.yes" disabled="">
                        </div>
                        <div class="col col-md-2">
                          <input type="checkbox"   value="1" ng-model="request.copies_of_questionnaires.pending" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.copies_of_questionnaires.notallowed" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.copies_of_questionnaires.file">
                          <a href="{{serverIP}}/{{request.copies_of_questionnaires.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="clear"></div>
                        <br><br>

                        <div class="col col-md-6">
                          <label class="subsection"><small>Ethics</small></label>
                        </div>
                        <div class="clear"></div>

                        <div class="col col-md-6">
                          <label class="subsubsection">
                            <small>
                              <b>For projects with pending ethical approval:</b><br>
                              (a) If an ethics submission is already in deliberation, please see attach:<br>
                            </small>
                          </label>
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label class="subsubsection"<small>
                            <small>- a copy of all relevant Ethics Applications you have made for the research project, and</small>
                          </label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.copy_relevant_ethics_madeforproject.yes" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.copy_relevant_ethics_madeforproject.pending" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.copy_relevant_ethics_madeforproject.file">
                          <a href="{{serverIP}}/{{request.copy_relevant_ethics_madeforproject.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="col col-md-2">
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label class="subsubsection"<small>
                            <small>- any reviewer comments you may have received</small>
                          </label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.reviewer_comments_received.yes" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.reviewer_comments_received.pending" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.reviewer_comments_received.file">
                          <a href="{{serverIP}}/{{request.reviewer_comments_received.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="col col-md-2">
                        </div>
                        <div class="clear"></div>
                        <br>
                        <div class="col col-md-6">
                          <label class="subsubsection">
                            <small>
                              <b>For projects with ethical approval:</b><br>
                              (b) If Ethics Approval has already been granted by any HREC/IRB for this project, please attach:<br>
                            </small>
                          </label>
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label class="subsubsection"<small>
                            <small>- a copy of the approved Ethics Application</small>
                          </label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.copy_approve_ethics.yes" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.copy_approve_ethics.pending" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.copy_approve_ethics.file">
                          <a href="{{serverIP}}/{{request.copy_approve_ethics.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="col col-md-2">
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label class="subsubsection"<small>
                            <small>- letter(s) of Ethics approval, and</small>
                          </label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.letters_of_ethics_approval.yes" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.letters_of_ethics_approval.pending" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.letters_of_ethics_approval.file">
                          <a href="{{serverIP}}/{{request.letters_of_ethics_approval.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="col col-md-2">
                        </div>
                        <div class="clear"></div>
                        <div class="col col-md-6">
                          <label class="subsubsection"<small>
                            <small>- all approved documents for the research project</small>
                          </label>
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.approve_document_for_project.yes" disabled="">
                        </div>
                        <div class="col col-md-1">
                          <input type="checkbox"   value="1" ng-model="request.approve_document_for_project.pending" disabled="">
                        </div>
                        <div class="col col-md-1" ng-if="request.approve_document_for_project.file">
                          <a href="{{serverIP}}/{{request.approve_document_for_project.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
                        </div>
                        <div class="col col-md-2">
                        </div>

                      </div>
                      <div class="clear"></div>

                    </div>

                    <div class="clear"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="btn btn-danger" ng-click="deleteRequest()"><i class="glyphicon glyphicon-remove"></i> Delete Request</a>


        </div>
      </div>
    </div>
  </div>
