<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item">User List</a>
            <a href="#/admin/requests" class="list-group-item active">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item">Inquiries</a>
            <a href="#/admin/import" class="list-group-item">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <h3 class=""><b>Requests</b></h3>

            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Requests ({{requests.length}})</b>
                <div class="pull-right">
                <a class="btn btn-danger btn-xs" ng-disabled="!hasSelected()" ng-click="showDisapproveRequestModal('selected')" title="Disapprove Requests" ><i class="glyphicon glyphicon-thumbs-down"></i> Disapprove Request(s)</a>
                <a class="btn btn-success btn-xs" ng-disabled="!hasSelected()" ng-click="showApproveModal('selected')" title="Approve Requests"><i class="glyphicon glyphicon-thumbs-up"></i> Approve Request(s)</a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="30"><input type="checkbox" ng-click="selectAllPendingRequests()" ng-model="selectAll"></th>
                      <th>Title</th>
                      <th width="100">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="request in requests track by $index">
                    <td><input type="checkbox" ng-model="request.selected"></td>
                    <td><a href="#/admin/requests/{{request._id}}"><b ng-if="request.project_title">{{request.project_title}}</b><b ng-if="!request.project_title">&lt;Empty&gt;</b></a> <a href="#/admin/users/{{request.userID._id}}"> {{request.userprofileID.u_fname}} {{request.userprofileID.u_lname}}</a><br>
                    <small>Date Requested: {{request.date_request | date : 'mediumDate'}}</small><br>
                    <span ng-if="request.approve_tag == 'YES'"><small>Date Approved: {{request.approve_date | date : 'mediumDate'}}</small><br></span>
                    <span ng-if="request.approve_tag == 'YES'"><small>Date Expiry: {{request.expirationDate | date : 'mediumDate'}}</small><br></span>
                    <span ng-if="request.approve_tag == 'NO'"><span class="label label-default">Unapproved</span><br></span>
                    <span ng-if="request.approve_tag == 'YES'"><span class="label label-success">Approved</span><br></span>
                    </td>
                    <td>
                      <a class="btn btn-default btn-xs" ng-click="showShareModal(request._id)" title="Share Request"><i class="glyphicon glyphicon-share"></i></a>
                      <a class="btn btn-danger btn-xs" ng-if="request.approve_tag == 'NO'" ng-click="showDisapproveRequestModal($index)" title="Disapprove Request"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                      <a class="btn btn-success btn-xs" ng-if="request.approve_tag == 'NO'" ng-click="showApproveModal(request._id)" title="Approve Request"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                      <a class="btn btn-default btn-xs" ng-if="request.approve_tag == 'YES'" ng-click="showSetExpiryModal(request._id)" title="Set Expiry"><i class="glyphicon glyphicon-th"></i></a>
                    </td>
                  </tr>
                  <tr ng-if="requests.length == 0">
                    <td colspan="3">
                      <b>There are no request(s)</b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
    </div>
  </div>
</div>
