<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item active">User List</a>
            <a href="#/admin/requests" class="list-group-item">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item">Inquiries</a>
            <a href="#/admin/import" class="list-group-item">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <ol class="breadcrumb">
            <li><a href="#/admin">Admin</a></li>
            <li><a href="#/admin/users">User List</a></li>
            <li class="active">{{currentuser._id}}</li>
          </ol>

          <h3 class=""><b>{{currentuser.u_fname}} {{currentuser.u_mi}} {{currentuser.u_lname}}</b>
            <div class="pull-right">
              <a class="btn btn-danger" ng-click="deleteUser()" title="Delete User"><i class="glyphicon glyphicon-remove"></i> Delete User</a>
            </div>
          </h3>

            <p style="margin-top: 30px;">
              <img src="{{serverIP}}/{{currentuser.u_image.url}}" err-src="images/anon.png" ng-if="currentuser.u_image" class="img-circle" width="100"/>
              <img src="images/anon.png" ng-if="!currentuser.u_image" class="img-circle" width="100"/>
              <br>
              <br>
              <b>User ID#:</b> {{currentuser._id}}<br>
              <b>Name:</b> {{currentuser.u_fname}} {{currentuser.u_mi}} {{currentuser.u_lname}} <a href="mailto:{{currentuser.userID.u_email}}">&lt;{{currentuser.userID.u_email}}&gt;</a><br>
              <b>Last Login:</b> <br>
              <b>Date Created:</b> </span>
            </p>

            <p>
              <b>Deparment:</b> {{currentuser.deparment}}</b>
            </p>

            <p>
              <b>Institution:</b> {{currentuser.institution}}</b>
            </p>


          </div>

        </div>
    </div>
  </div>
</div>
