<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#/search" class="list-group-item">Search</a>
            <a href="#/admin" class="list-group-item">Admin Dashboard</a>
            <a href="#/admin/users" class="list-group-item active">User List</a>
            <a href="#/admin/requests" class="list-group-item">Request List</a>
            <a href="#/admin/inquiries" class="list-group-item">Inquiries</a>
            <a href="#/admin/import" class="list-group-item">Import</a>
          </div>
        </div>
        <div class="form-horizontal col-md-9">

          <div class="col-md-12">

          <h3 class=""><b>Users</b>
            <div class="pull-right">
              <a class="btn btn-default" ng-click="showAddUserModal()" ><i class="glyphicon glyphicon-plus"></i> Add User</a>
            </div>
          </h3>

            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Users ({{users.length}})</b>
                <div class="pull-right">
                <a class="btn btn-danger btn-xs" ng-disabled="!hasSelected()" ng-click="showDeleteUserModal('selected')" title="Remove User(s)" ><i class="glyphicon glyphicon-remove"></i> Remove User(s)</a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="30"><input type="checkbox" ng-click="selectAllUsers()" ng-model="selectAll"></th>
                      <th>Users</th>
                      <th width="50">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr class="user" ng-repeat="user in users track by $index">
                    <td><input type="checkbox" ng-model="user.selected"></td>
                    <td>
                    <img src="{{serverIP}}/{{user.u_image.url}}" err-src="images/anon.png" ng-if="user.u_image"/>
                    <img src="images/anon.png" ng-if="!user.u_image"/>
                    <a href="#/admin/users/{{user.userID._id}}"><b>{{user.u_lname}}, {{user.u_fname}}</b></a>
                    <br>
                    <a href="mailto:{{user.userID.u_email}}">{{user.userID.u_email}}</a><br>
                    <small>Last Login: {{user.userID.log_inDate | date: 'short'}}</small>
                    </td>
                    <td>
                      <a class="btn btn-danger btn-xs" ng-click="showDeleteUserModal(user.userID._id)" title="Delete User"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                  </tr>
                  <tr ng-if="users.length == 0">
                    <td colspan="3">
                      <b>There are no User(s)</b>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
    </div>
  </div>
</div>
