<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Breast Screen Reader Assessment Strategy</title>
    <meta name="description" content="BreastScreen Reader Asessment Strategy">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/jquery.tagsinput/src/jquery.tagsinput.css">
  </head>
  <body ng-app="breastApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div growl></div>

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="HeaderCtrl">
      <!-- <a href="{{href}}" id="logo" title="BREAST Home"></a> -->
      <a href="#/" id="logo" title="BREAST Home"></a>
      <h1>Breast Screen Reader Assessment Strategy</h1>
      <div class="clear-right"></div>
      <div id="userHeaderView" ui-view="userHeaderView"></div>
      <div class="clearfix"></div>
    </div>

    <div class="container">
        <small>
      <div id="mainView" ui-view="mainView"></div>
      </small>
    </div>

    <div class="footer">
        <p>
            &copy; 2015 Breast Screen Reader Assessment Strategy<br>
        </p>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        var serverIP = "http://localhost:3000";
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/chartjs/Chart.js"></script>
    <script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
    <script src="bower_components/angular-upload/angular-upload.js"></script>
    <script src="bower_components/validator-js/validator.js"></script>
    <script src="bower_components/ng-simplePagination/simplePagination.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/file-saver-saveas-js/FileSaver.js"></script>
    <script src="bower_components/jquery-file-download/src/Scripts/jquery.fileDownload.js"></script>
    <script src="bower_components/ckeditor/ckeditor.js"></script>
    <script src="bower_components/ckeditor/config.js"></script>
    <script src="bower_components/jquery.tagsinput/src/jquery.tagsinput.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="config.js"></script>
        <script src="scripts/controllers/404.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/services/underscore.js"></script>
        <script src="scripts/services/articlesservice.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/services/addressservice.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/page.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/verify.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/registration1.js"></script>
        <script src="scripts/controllers/registration2.js"></script>
        <script src="scripts/controllers/registration3.js"></script>
        <script src="scripts/controllers/registration4.js"></script>
        <script src="scripts/controllers/registration5.js"></script>
        <script src="scripts/controllers/registration6.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/userprofile.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <script src="scripts/controllers/adminrequests.js"></script>
        <script src="scripts/controllers/adminrequest.js"></script>
        <script src="scripts/controllers/admininquiries.js"></script>
        <script src="scripts/controllers/admininquiry.js"></script>
        <script src="scripts/controllers/adminusers.js"></script>
        <script src="scripts/controllers/adminuser.js"></script>
        <script src="scripts/services/testsetsservice.js"></script>
        <script src="scripts/services/requestservice.js"></script>
        <script src="scripts/services/inquiriesservice.js"></script>
        <script src="scripts/controllers/adminimport.js"></script>
        
        <!-- endbuild -->

</body>
</html>
