<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">Approve Request</h4>
      </div>
      <div class="modal-body" >
        <table class="table">
          <thead>
            <tr>
              <th>Requests</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="request in selectedPendingRequests track by $index">
            <td><a href="#/admin/requests/{{request._id}}"><b>{{request.project_title}}</b></a><br><a href="#/admin/users/{{request.userID._id}}"> {{request.userprofileID.u_fname}} {{request.userprofileID.u_lname}}</a><br>
            <small>Date Requested: {{request.date_request | date : 'mediumDate'}}</small><br>
            <!-- <span ng-if="request.approve_tag == 'YES'"><small>Date Approved: {{request.approve_date | date : 'mediumDate'}}</small><br></span>
            <span ng-if="request.approve_tag == 'YES'"><small>Date Expiry: {{request.expirationDate | date : 'mediumDate'}}</small><br></span>
            <span ng-if="request.approve_tag == 'NO'"><span class="label label-default">Unapproved</span><br></span>
            <span ng-if="request.approve_tag == 'YES'"><span class="label label-success">Approved</span><br></span> -->
            </td>
          </tr>
          </tbody>
        </table>
        <form>
          <div class="form-group">
            <label for="emails">Expiration Date</label>
            <input type="text" class="form-control" ng-model="expirationdate" data-min-date="today" data-trigger="click" data-autoclose="1" placeholder="Expiry Date" bs-datepicker>
            <span id="helpBlock" class="help-block"><em></em></span>
          </div>
          <button type="submit" class="btn btn-default" ng-click="approve(expirationdate);">Approve</button>
        </form>
      </div>
    </div>
  </div>
</div>