<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">General Inquiry</h4>
      </div>
      <div class="modal-body" >
      <form class="form-horizontal">
		  <div class="form-group" ng-class="inquiryufname_error || inquiryulname_error ? 'has-error' : ''">
		    <label for="fullname" class="col-sm-3 control-label">Full Name*</label>
		    <div class="col-sm-9">
          <div class="col-sm-6" ng-class="inquiryufname_error ? 'has-error' : ''">
		        <input ng-blur="validateFirstName()" type="text" class="form-control" id="fullname" placeholder="First Name" ng-model="inquiry.u_fname">
          </div>
          <div class="col-sm-6" ng-class="inquiryulname_error ? 'has-error' : ''">
            <input ng-blur="validateLastName()" type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="inquiry.u_lname">
          </div>
		    </div>
		  </div>
		  <div class="form-group" ng-class="inquiryuemail_error ? 'has-error' : ''">
		    <label for="email" class="col-sm-3 control-label">Email Address*</label>
		    <div class="col-sm-9">
          <div class="col-sm-12">
		      <input ng-blur="validateEMail()" type="email" class="form-control" id="email" placeholder="your@email.com" ng-model="inquiry.u_email">
          </div>
		    </div>
		  </div>
		  <div class="form-group" ng-class="inquiryphone_error ? 'has-error' : ''">
		    <label for="contactnumber" class="col-sm-3 control-label">Contact Number*</label>
		    <div class="col-sm-9">
          <div class="col-sm-12">
		      <input ng-blur="validatePhone()" type="text" class="form-control" id="contactnumber" placeholder="Your Contact #" ng-model="inquiry.phone">
          </div>
		    </div>
		  </div>
      <div class="form-group" ng-class="inquiryinstitution_error ? 'has-error' : ''">
        <label for="institution" class="col-sm-3 control-label">Institution</label>
        <div class="col-sm-9">
          <div class="col-sm-12">
          <input type="text" class="form-control" id="institution" placeholder="Institution" ng-model="inquiry.institution">
          </div>
        </div>
      </div>
		  <div class="form-group" ng-class="inquirysubject_error ? 'has-error' : ''">
		    <label for="subject" class="col-sm-3 control-label">Subject*</label>
		    <div class="col-sm-9">
          <div class="col-sm-12">
		      <input ng-blur="validateSubject()" type="text" class="form-control" id="subject" placeholder="Subject" ng-model="inquiry.subject">
          </div>
		    </div>
		  </div>
		  <div class="form-group" ng-class="inquirymesstype_error ? 'has-error' : ''">
		    <label for="inputEmail3" class="col-sm-3 control-label">Message Type*</label>
		    <div class="col-sm-9">
        <div class="col-sm-12" >
  				<select ng-blur="validateMessType()" class="form-control" ng-model="inquiry.messtype">
  					<option value="Expression of Interest">Expression of Interest</option>
  					<option value="General Inquiry">General Inquiry</option>
  				</select>
        </div>
		    </div>
		  </div>
		  <div class="form-group" ng-class="inquirymessage_error ? 'has-error' : ''">
		    <label for="inputEmail3" class="col-sm-3 control-label">Message*</label>
		    <div class="col-sm-9">
          <div class="col-sm-12">
		        <textarea ng-blur="validateMessage()" class="form-control" rows="4" ng-model="inquiry.message" ></textarea>
          </div>
		    </div>
		  </div>
      <div class="form-group">
        <div class="col-sm-12">
          <em>Fields marked with asterisk (*) are required fields.</em>
        </div>
      </div>
		</form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-dark" ng-click="sendInquiry();">Submit</button>
      </div>
    </div>
  </div>
</div>