<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">Delete User</h4>
      </div>
      <div class="modal-body" >
        <table class="table">
          <thead>
            <tr>
              <th>Users</th>
            </tr>
          </thead>
          <tbody>
          <tr class="user" ng-repeat="user in selectedUsers track by $index">
            <td>
            <img src="{{serverIP}}/{{user.u_image.url}}" err-src="images/anon.png" ng-if="user.u_image"/>
            <img src="images/anon.png" ng-if="!user.u_image"/>
            <a href="#/admin/users/{{user.userID._id}}"><b>{{user.u_lname}}, {{user.u_fname}}</b></a>
            <br>
            <a href="mailto:{{user.userID.u_email}}">{{user.userID.u_email}}</a><br>
            <small>Last Login: {{user.userID.log_inDate | date: 'short'}}</small>
            </td>
          </tr>
          </tbody>
        </table>
        <form>
          <div class="form-group">
            <label for="">Are you sure you want to delete <span ng-if="selectedUsers.length > 1">these users</span><span ng-if="selectedUsers.length == 1">this user</span>?</label>
          </div>
          <button type="submit" class="btn btn-danger" ng-click="deleteUsers();$hide();">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>