<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">New User</h4>
      </div>
      <div class="modal-body" >
      <form class="form-horizontal">
		  <div class="form-group" ng-class="newuserufname_error || newuserulname_error ? 'has-error' : ''">
		    <label for="fullname" class="col-sm-3 control-label">Full Name*</label>
		    <div class="col-sm-9">
          <div class="col-sm-6" ng-class="newuserufname_error ? 'has-error' : ''">
		        <input ng-blur="validateFirstName()" type="text" class="form-control" id="fullname" placeholder="First Name" ng-model="newuser.u_fname">
          </div>
          <div class="col-sm-6" ng-class="newuserulname_error ? 'has-error' : ''">
            <input ng-blur="validateLastName()" type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="newuser.u_lname">
          </div>
		    </div>
		  </div>
		  <div class="form-group" ng-class="newuseruemail_error ? 'has-error' : ''">
		    <label for="email" class="col-sm-3 control-label">Email Address*</label>
		    <div class="col-sm-9">
          <div class="col-sm-12">
		      <input ng-blur="validateEMail()" type="email" class="form-control" id="email" placeholder="your@email.com" ng-model="newuser.u_email">
          </div>
		    </div>
		  </div>
      <div class="form-group" ng-class="newuserdepartment_error ? 'has-error' : ''">
        <label for="department" class="col-sm-3 control-label">Department</label>
        <div class="col-sm-9">
          <div class="col-sm-12">
          <input ng-blur="validateDepartment()" type="text" class="form-control" id="department" placeholder="Department" ng-model="newuser.department">
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="newuserinstitution_error ? 'has-error' : ''">
        <label for="institution" class="col-sm-3 control-label">Institution</label>
        <div class="col-sm-9">
          <div class="col-sm-12">
          <input ng-blur="validateInstitution()" type="text" class="form-control" id="institution" placeholder="Institution" ng-model="newuser.institution">
          </div>
        </div>
      </div>
		  <div class="form-group" ng-class="newuserrole_error ? 'has-error' : ''">
		    <label for="inputEmail3" class="col-sm-3 control-label">Role*</label>
		    <div class="col-sm-9">
        <div class="col-sm-12" >
  				<!-- <select ng-blur="validateRole()" class="form-control" ng-init="newuser.role=''" ng-model="newuser.role" ng-options="role.id as role.label for role in rolesSelect track by role.id"> -->
          <select ng-blur="validateRole()" class="form-control" ng-model="newuser.roleID">
  					<option ng-repeat="role in rolesSelect" value="{{role.id}}" ng-repeat>{{role.label}}</option>
  				</select>
        </div>
		    </div>
		  </div>
		</form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
        <button type="button" class="btn btn-dark" ng-click="createUser();">Create User</button>
      </div>
    </div>
  </div>
</div>