<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">Remove Inquiry</h4>
      </div>
      <div class="modal-body" >
        <table class="table">
          <thead>
            <tr>
              <th>Inquiry</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="inquiry in selectedInquiries track by $index">
            <td><a href="#/admin/inquiries/{{inquiry._id}}"><b>{{inquiry.u_fname}} {{inquiry.u_lname}}</b> - {{inquiry.messtype}}</a><br>
            <small>Date Created: {{inquiry.DateCreated | date : 'short'}}</small><br>
            <small ng-show="inquiry.approvedDate">Date Approved: {{inquiry.approvedDate | date : 'short'}}</small>
            </td>
          </tr>
          </tbody>
        </table>
        <form>
          <div class="form-group">
          <button type="submit" class="btn btn-danger" ng-click="removeInquiry();$hide();">Remove</button>
        </form>
      </div>
    </div>
  </div>
</div>