<div class="modal addParticipantModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title">Set Expiry Request</h4>
      </div>
      <div class="modal-body" >
        <form>
          <div class="form-group">
            <label for="emails">Expiration Date</label>
            <input type="text" class="form-control" ng-model="expirationdate" data-min-date="today" data-trigger="click" data-autoclose="false" placeholder="Expiry Date" bs-datepicker>
            <span id="helpBlock" class="help-block"><em></em></span>
          </div>
          <button type="submit" class="btn btn-default" ng-click="setExpiry(expirationdate);$hide();">Set Expiry Date</button>
        </form>
      </div>
    </div>
  </div>
</div>