<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$hide()">&times;</button>
            <h4 class="modal-title">Share</h4>
        </div>
        <div class="modal-body" >
        <form>
          <div class="form-group">
            <label for="emails">Email addresses to send:</label>
            <input class="form-control" name="emails" id="emails" value="" />
            <p class="help-block">separate email address with commas (,).</p>
          </div>
          <button type="submit" class="btn btn-default" ng-click="shareRequest(requestidtoshare);$hide()">Share</button>
        </form>
      </div>
    </div>
  </div>
</div>