<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Your Application for Access Has Been Submitted</h4>
      </div>
      <div class="modal-body" >
        <div class="coll-md-12">
          <p>
          Your application and supporting documents will be reviewed by the BREAST Access and Management Committee (BAMC).  We will advise you of the outcome shortly. If you have any queries, please contact the BREAST Manager at <a href="mailto:breastaustralia@sydney.edu.au">breastaustralia@sydney.edu.au</a>. Thank you for your interest in the BREAST Research Portal.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" ng-click="$hide();gotoHome();">Ok</button>
      </div>
    </div>
  </div>
</div>