<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="articles">
    <article>
       <form id="login">
        <div class="form-group col-md-6">
          <h3 class="title">Login</h3>
        </div>
        <div class="clear"></div>
        <p ng-show="loginFalse" class="form-group col-md-6"><small>Your username or password is incorrect</small></p>
        <div class="clear"></div>
        <div class="form-group col-md-6" ng-class="loginFalse? 'has-error' : ''">
          <label for="username" class="control-label">Username</label>
          <input type="email" class="form-control" id="username" placeholder="Enter username" ng-disabled="disablelogin" ng-model="username" ng-readonly="readOnlyLogin">
        </div>
        <div class="clear"></div>
        <div class="form-group col-md-6" ng-class="loginFalse? 'has-error' : ''">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-disabled="disablelogin" ng-model="password" ng-readonly="readOnlyLogin">
        </div>
        <div class="clear"></div>
        <div class="checkbox col-md-6">
          <label>
            <input type="checkbox"> Remember Me
          </label>
        </div>
        <div class="clear"></div>
        <div class="checkbox col-md-6">
          <button type="submit" class="btn btn-dark" ng-click="login()" ng-disabled="disablelogin">Login</button>
        </div>
      </form>
      <div class="clear"></div>
      <div class="form-group col-md-6">
        Want To Register? <a ng-click="showModal()"><b>Contact Us</b></a>
      </div>
      
      <div class="clear"></div>
    </article>
    <article>
      <div class="form-group col-md-6">
        <h3 class="article-title article-link">Forgotten your password?</h3>
      </div>
      <div class="clear"></div>
      <form>
        <div class="form-group col-md-6" ng-class="recoverPasswordEmail_error ? 'has-error' : ''">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" ng-model="recoverPasswordEmail" placeholder="Enter email">
        </div>
        <div class="clear"></div>
        <div class="form-group col-md-6">
          <button type="submit" ng-click="recoverPassword()" class="btn btn-dark">Recover</button>
        </div>
      </form>
    </article>
  </div>

    

    <div class="clear"></div>

    </div>