<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
<div class="col-md-12">
  <div class="col-md-3" ng-show="!rightSideBar">
    <div class="list-group">
      <a href="#/search" class="list-group-item" >Search</a>
      <a href="#/admin" class="list-group-item" ng-if="user.role == 'Administrator'">Admin Dashboard</a>
      <a href="#/admin/users" class="list-group-item" ng-if="user.role == 'Administrator'">User List</a>
      <a href="#/admin/requests" class="list-group-item" ng-if="user.role == 'Administrator'">Request List</a>
      <a href="#/admin/inquiries" class="list-group-item" ng-if="user.role == 'Administrator'">Inquiries</a>
      <a href="#/admin/import" class="list-group-item" ng-if="user.role == 'Administrator'">Import</a>
    </div>
  </div>

  <div class="articles " ng-class="rightSideBar ? 'col-md-12' : 'col-md-9'">

    <article ng-repeat="article in articles" id="article-{{article.id}}">
      <a class="article-title article-link" href="#/pages/{{article.permalink}}">{{article.title}}</a>
      <img ng-src="{{article.articleimage}}" />
      <div ng-bind-html="(article.body | limitTo : 450) + '...'">
      </div>
      <a class="readmore btn pull-right" href="#/pages/{{article.permalink}}">Read More</a>
      <div class="clear"></div>
    </article>

  </div>

    <div class="clear"></div>

    </div>

    <div id="rightSideBar" ng-show="rightSideBar">
      <form id="login">
        <h4 class="title">Login</h4>
        <p ng-show="loginFalse"><small>Your username or password is incorrect</small></p>
        <div class="form-group" ng-class="loginFalse? 'has-error' : ''">
          <label for="username" class="control-label">Username</label>
          <input type="email" class="form-control" id="username" placeholder="Enter username" ng-disabled="disablelogin" ng-model="username" ng-readonly="readOnlyLogin">
        </div>
        <div class="form-group" ng-class="loginFalse? 'has-error' : ''">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-disabled="disablelogin" ng-model="password" ng-readonly="readOnlyLogin">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember Me
          </label>
        </div>
        <button type="submit" class="btn btn-dark" ng-click="login()" ng-disabled="disablelogin">Login</button> <a href="#/login">Forgot Password</a>
      </form>
      <div>
        Want To Register? <a ng-click="showModal()"><b>Contact Us</b></a>
      </div>
    </div>

    </div>