<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">



  <div class="articles">

    <ol class="breadcrumb">
      <li><a href="#/">Home</a></li>
      <li class="active">{{currentarticle.title}}</li>
    </ol>

    <article id="article-{{currentarticle.id}}">
      <h3 class="article-title article-link" href="#/pages/{{currentarticle.permalink}}">{{currentarticle.title}}</h3>
      <img ng-src="{{currentarticle.articleimage}}" />
      <div ng-bind-html="currentarticle.body">
      </div>
      <div class="clear"></div>
    </article>

  </div>

  <div id="rightSideBar" ng-show="rightSideBar">
      <form id="login">
        <h4 class="title">Login</h4>
        <p ng-show="loginFalse"><small>Your username or password is incorrect</small></p>
        <div class="form-group" ng-class="loginFalse? 'has-error' : ''">
          <label for="username" class="control-label">Username</label>
          <input type="email" class="form-control" id="username" placeholder="Enter username" ng-disabled="disablelogin" ng-model="username" ng-readonly="readOnlyLogin">
        </div>
        <div class="form-group" ng-class="loginFalse? 'has-error' : ''">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-disabled="disablelogin" ng-model="password" ng-readonly="readOnlyLogin">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember Me
          </label>
        </div>
        <button type="submit" class="btn btn-dark" ng-click="login()" ng-disabled="disablelogin">Login</button> <a href="#/login">Forgot Password</a>
      </form>
      <div>
        Want To Register? <a ng-click="showModal()"><b>Contact Us</b></a>
      </div>
    </div>

</div>