<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider"><a class="back" title="back" ng-click="back()"></a>3. Application for Access - Funding</h3>
      <img ng-src="images/registrationstate3.png" class="registrationstate" />
      <form class="form-registration">
        <h4>3.1 Funding</h4>
        <div class="">

          <div class="form-group col-md-10" ng-class="fundingone_error ? 'has-error' : ''">
            <label class="control-label" for="">1. Have you secured funding for the research project?</label>
            <div class="checkbox">
              <label>
                <input ng-blur="validateSecuredFundingResearchProject()" type="radio" ng-model="request.funding.one" value="Yes"> Yes
              </label>
              <label>
                <input ng-blur="validateSecuredFundingResearchProject()" type="radio" ng-model="request.funding.one" value="No"> No
              </label>
              <label>
                <input ng-blur="validateSecuredFundingResearchProject()" type="radio" ng-model="request.funding.one" value="Pending"> Pending
              </label>
            </div>
          </div>

          <div class="form-group col-md-12" ng-show="request.funding.one == 'Yes' || request.funding.one == 'Pending'">
            <label for="">2. If "Yes" or "Pending", please detail the funders who have approved are considering your project</label><br>
            <div class="researcher">
            <table class="table">
              <thead>
                <tr>
                  <th><small>Funding Body</small></th>
                  <th><small>Length or approved funding period in years</small></th>
                  <th><small>Funding Amount in Australian Dollars</small></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="funder in request.funding.two track by $index">
                <td>
                  <div class="">
                    <input type="text" class="form-control" placeholder="Title" ng-model="funder.fundingbody">
                  </div>
                </td>
                <td>
                  <div class="">
                    <input type="text" class="form-control" placeholder="Full Name" ng-model="funder.years">
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Institution" ng-model="funder.aud">
                </td>
                <td><a class="btn btn-danger" ng-click="removeFunder($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
              </tr>
              </tbody>
            </table>

            <div class="buttons">
              <a class="btn btn-lg btn-green" ng-click="addFunder()">Add</a>
            </div>

              <!-- <div class="col col-md-3 form-group" ng-class="fundingtwofundingbody_error ? 'has-error' : ''">
                <label class="control-label"><small>Funding Body</small></label>
                <input ng-blur="validateFundingBody()" type="text" class="form-control" ng-model="request.funding.two.fundingbody" placeholder="Funding Body">
              </div>
              <div class="col col-md-5 form-group" ng-class="fundingtwoyears_error ? 'has-error' : ''">
                <label class="control-label"><small>Length or approved funding period in years</small></label>
                <input ng-blur="validateFundingYears()" type="text" class="form-control" ng-model="request.funding.two.years" placeholder="Years">
              </div>
              <div class="col col-md-4" ng-class="fundingtwoaud_error ? 'has-error' : ''">
                <label class="control-label"><small>Funding Amount in Australian Dollars</small></label>
                <input ng-blur="validateFundingAUD()" type="text" class="form-control" ng-model="request.funding.two.aud" placeholder="Aud">
              </div> -->
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group col-md-10" ng-class="status_error ? 'has-error' : ''" ng-show="request.funding.one == 'No'">
            <label class="control-label" for="">2. If you haven't secured funding, what is the status of your research project?</label><br>
            <label class="subsubsection" for="">Please Provide details below (maximum 200 words)</label>
            <textarea name="status" id="status" rows="10" cols="80">
              {{request.funding.three}}
            </textarea>
          </div>

          <div class="clear"></div>

          <div class="divider"></div>

          <h4>3.2 Ethics</h4>
          <div class="form-group col-md-12" ng-class="ethicshrec_error ? 'has-error' : ''">
            <label class="control-label">1. Do you have Human Research Ethics Committee (HREC) approval to conduct this research project?</label>
            <div class="checkbox">
              <label>
                <input ng-blur="validateEthics()" type="radio" ng-model="request.ethics.hrec" value="Yes"> Yes
              </label>
              <label>
                <input ng-blur="validateEthics()" type="radio" ng-model="request.ethics.hrec" value="No"> No
              </label>
              <label>
                <input ng-blur="validateEthics()" type="radio" ng-model="request.ethics.hrec" value="Pending"> Pending
              </label>
            </div>
            <em>If No, we advise you to seek ethical approval. Access to any resource will not be facilitated until proof of ethical approval is submitted to us.</em>
          </div>

          <div class="clear"></div>

          <div class="pull-right buttons">
            <a class="btn btn-lg btn-green" ng-disabled="saving" ng-click="save()"><span ng-if="!saving">Save</span><span ng-if="saving">Saving</span></a>
            <a class="btn btn-lg btn-blue" ng-disabled="saving" ng-click="next()">Next</a>
          </div>

          <div class="clear"></div>

        </div>      
      </form>
    </div>
  </div>
</div>
