<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider">1. Application for Access - Project Title</h3>
      <img ng-src="images/registrationstate.png" class="registrationstate" />
      <form class="form-registration">
        <h4>1.1 Project Title</h4>
        <div class="form-group" ng-class="project_title_error ? 'has-error' : ''">
          <!-- <label class="control-label" for="projectitle">Project Title*</label> -->
          <input ng-blur="validateProjectTitle()" type="text" class="form-control col-md-8" id="projectitle" placeholder="Project Title" ng-model="request.project_title">
          <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <h4>1.2 Chief Investigator's Details</h4>
        <div class="form-horizontal">

          <div class="form-group">
            <span ng-blur="validateProjectTitle()" ng-class="u_title_error || u_fname_error || u_lname_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Full Name*</label>
            </span>
            <div class="col-sm-9">
              <div class="col col-md-2" ng-class="u_title_error ? 'has-error' : ''">
                <select ng-blur="validateResearcherTitle()" class="form-control" ng-model="request.u_title" placeholder="MI">
                  <option value="Mr">Mr</option>
                  <option value="Ms">Ms</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Dr">Dr</option>
                  <option value="A/Prof">A/Prof</option>
                  <option value="Prof">Prof</option>
                </select>
              </div>
              <div class="col col-md-4" ng-class="u_fname_error ? 'has-error' : ''">
                <input ng-blur="validateResearcherFirstName()" type="text" class="form-control" ng-model="request.u_fname" placeholder="First Name">
              </div>
              <!-- <div class="col col-md-2" >
                <input type="text" class="form-control" ng-model="request.u_mi" placeholder="MI">
              </div> -->
              <div class="col col-md-4" ng-class="u_lname_error ? 'has-error' : ''">
                <input ng-blur="validateResearcherLastName()" type="text" class="form-control" ng-model="request.u_lname" placeholder="Surname">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="department_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Department*</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input ng-blur="validateDepartment()" type="text" class="form-control" placeholder="Department" ng-model="request.department">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="institution_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Institution*</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input ng-blur="validateInstitution()" type="text" class="form-control" placeholder="Institution" ng-model="request.institution">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="postaladdress_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Postal Address*</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input ng-blur="validatePostalAddress()" type="text" class="form-control" placeholder="Postal Address" ng-model="request.postaladdress">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <span ng-class="city_error || state_error || postcode_error ? 'has-error' : ''">
              <label for="fullname" class="col-sm-2 control-label">City/Suburb*</label>
            </span>
            <div class="col-sm-9">
              <!-- <div class="col col-md-3" ng-class="city_error ? 'has-error' : ''">
                <input type="text" class="form-control" placeholder="City" ng-model="request.city" ng-change="citiesChange()" bs-options="city for city in citiesnames" bs-typeahead>
              </div> -->
              <div class="col col-md-4" ng-class="suburb_error ? 'has-error' : ''">
                <input ng-blur="validateSuburb()" type="text" class="form-control" placeholder="Suburb" ng-model="request.suburb" ng-change="suburbChange()" bs-options="suburb for suburb in suburbsnames" bs-typeahead ng-model-options="{debounce: 1500}">
              </div>
              <div class="col col-md-4" ng-class="state_error ? 'has-error' : ''">
<!--                 <select ng-blur="validateState()" class="form-control" ng-model="request.state" placeholder="State">
                  <option value="NSW">NSW</option>
                  <option value="VIC">VIC</option>
                  <option value="SA">SA</option>
                  <option value="QLD">QLD</option>
                  <option value="TAS">TAS</option>
                  <option value="WA">WA</option>
                  <option value="NT">NT</option>
                </select> -->
                <input type="text" class="form-control" ng-model="request.state" placeholder="State">
              </div>
              <div class="col col-md-4" ng-class="postcode_error ? 'has-error' : ''">
                <input ng-blur="validatePostCode()" type="text" class="form-control" ng-model="request.postcode" placeholder="Postcode">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="phone_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <select ng-model="request.country" class="form-control">
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU" selected>Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia, Plurinational State of</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo, the Democratic Republic of the</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See (Vatican City State)</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran, Islamic Republic of</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea, Democratic People's Republic of</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia, Federated States of</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestinian Territory, Occupied</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan, Province of China</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela, Bolivarian Republic of</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands, British</option>
                  <option value="VI">Virgin Islands, U.S.</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="phone_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Phone*</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input ng-blur="validatePhone()" type="text" class="form-control" ng-model="request.phone" placeholder="Phone">
                <p class="help-block">must start with +two digit country code)</p>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="fax_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Fax</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input ng-blur="validateFax()" type="text" class="form-control" ng-model="request.fax" placeholder="Fax">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="mobile_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Mobile *</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input ng-blur="validateMobile()" type="text" class="form-control" ng-model="request.mobile" placeholder="Mobile">
                <p class="help-block">must start with +two digit country code)</p>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group" ng-class="email_error ? 'has-error' : ''">
            <label for="fullname" class="col-sm-2 control-label">Email*</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input ng-blur="validateEmail()" type="text" class="form-control" placeholder="Email" ng-model="request.email">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="pull-right buttons">
            <a class="btn btn-lg btn-green" ng-disabled="saving" ng-click="save()"><span ng-if="!saving">Save</span><span ng-if="saving">Saving</span></a>
            <a class="btn btn-lg btn-blue" ng-disabled="saving" ng-click="next()">Next</a>
          </div>

          <div class="clear"></div>

        </div>      
      </form>
    </div>
  </div>
</div>
