<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider"><a class="back" title="back" ng-click="back()"></a>5. Application for Access - Certification by Applicant</h3>
      <img ng-src="images/registrationstate5.png" class="registrationstate" />
      <form class="form-registration">
        <h4>5.1 Certification by Applicant</h4>
        <div class="divider"></div>
        <!-- <p>By providing signature, you certify that all details given in this application are correct and agree to carry out the project accoding to the terms and conditions as described by the <a><b>BREAST Access Policy</b></a></p> -->
        <div class="">

          <div class="form-group col-md-12">
            <!-- <label for="">Applicant Full Name</label><br> -->
            <div class="researcher" ng-class="validateihaveread_error ? 'has-error' : ''">
              <div class="col col-md-1">
                <input type="checkbox" id="ihaveread" value="1" ng-model="request.certification_page.ihaveread">
              </div>
              <div class="col col-md-11">
                <label for="ihaveread">I have read the BREAST Access and Management policy document and accept the terms of access outlined in the document.</label>
              </div>
            </div>

            <div class="clear"></div>

            <div class="researcher" ng-class="validateicertify_information_error ? 'has-error' : ''">
              <div class="col col-md-1">
                <input type="checkbox" id="icertify_information" value="1" ng-model="request.certification_page.icertify_information">
              </div>
              <div class="col col-md-11">
                <label for="icertify_information">I certify that the information I have provided in this form is accurate and true.</label>
              </div>
            </div>

            <div class="clear"></div>

            <div class="researcher" ng-class="validateiunderstand_error ? 'has-error' : ''">
              <div class="col col-md-1">
                <input type="checkbox" id="iunderstand" value="1" ng-model="request.certification_page.iunderstand">
              </div>
              <div class="col col-md-11">
                <label for="iunderstand">I understand that I must acknowledge the BREAST platform and its funders in publications and presentations that arise from this database.</label>
              </div>
            </div>

            <div class="clear"></div>

            <div class="researcher" ng-class="validateicertify_requested_error ? 'has-error' : ''">
              <div class="col col-md-1">
                <input type="checkbox" id="icertify_requested" value="1" ng-model="request.certification_page.icertify_requested">
              </div>
              <div class="col col-md-11">
                <label for="icertify_requested">I certify that the requested data will only be used for the project outlined in this application and for no other purpose.</label>
              </div>
            </div>
          </div>

          <div class="form-group col-md-12">
            <!-- <label for="">Applicant Full Name</label><br> -->
            <div class="researcher">
              <div class="col col-md-3" ng-class="certificationbyapplicantcfname_error ? 'has-error' : ''">
                <label class="subsection"><small>Applicant's First Name</small></label>
                <input ng-blur="validateFirstName()" type="text" class="form-control" ng-model="request.certificationbyapplicant.c_fname" placeholder="First Name">
              </div>
              <!-- <div class="col col-md-2" >
                <label class="subsection"><small>MI</small></label>
                <input type="text" class="form-control" placeholder="MI" ng-model="request.certificationbyapplicant.c_mi">
              </div> -->
              <div class="col col-md-3" ng-class="certificationbyapplicantclname_error ? 'has-error' : ''">
                <label class="subsection"><small>Applicant's Last Name</small></label>
                <input ng-blur="validateLastName()" type="text" class="form-control" placeholder="Surname" ng-model="request.certificationbyapplicant.c_lname">
              </div>

              <div class="col col-md-5" ng-class="certificationbyapplicantcdate_error ? 'has-error' : ''">
                <label class="subsection"><small>Date</small></label>
                <input ng-blur="validateDate()" type="text" class="form-control" name="date" data-min-date="{{minDate}}" ng-model="request.certificationbyapplicant.c_date" bs-datepicker data-autoclose="1">
              </div>

              <div class="clear"></div>
             <!--  <div class="col col-md-5" ng-class="certificationbyapplicantcsignature_error ? 'has-error' : ''"><br>

                <label class="subsection"><small>Signature</small></label><br>
                <div class="" ng-if="request.certificationbyapplicant.file">
                  <img src="{{serverIP}}/{{request.certificationbyapplicant.file.url}}" alt="Signature" width="300" />
                </div>
                <div class="clear"></div>
                  <div class="btn btn-primary btn-upload btn-xs" accept="image/jpeg, image/png, image/gif" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/signatureUpload/{{request._id}}" on-upload="onUpload(files)" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload Signature</div>

              </div> -->

              <div class="clear"></div>
              
            </div>
            <div class="clear"></div>
          </div>

          <div class="clear"></div>

          <div class="pull-right buttons">
            <a class="btn btn-lg btn-green" ng-disabled="saving" ng-click="save()"><span ng-if="!saving">Save</span><span ng-if="saving">Saving</span></a>
            <a class="btn btn-lg btn-blue" ng-disabled="saving" ng-click="next()">Next</a>
          </div>

          <div class="clear"></div>

        </div>
      </form>
    </div>
  </div>
</div>
