<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider"><a class="back" title="back" ng-click="back()"></a>6. Application for Access - Applicant Checklist</h3>
      <img ng-src="images/registrationstate6.png" class="registrationstate" />
      <form class="form-registration">
        <h4>6.1 Applicant Checklist</h4>
        <div class="divider"></div>
        <p>Please mark the checkboxes to confirm you have attached/included all the required documentation and information.</p>
        <div class="">

          <div class="form-group col-md-12">
            <!-- <label for="">Applicant Full Name</label><br> -->
            <div class="researcher">

              <div class="col col-md-5">
                <label class="subsection"><small>Documents to be attached to the application:</small></label>
              </div>
              <div class="col col-md-1">
                <label class="subsection"><small>Yes</small></label>
              </div>
              <div class="col col-md-1">
                <label class="subsection"><small>Pending</small></label>
              </div>
              <div class="col col-md-1">
                <label class="subsection"><small>N/A</small></label>
              </div>
              <div class="clear"></div>

              <div class="col col-md-5">
                <label class="subsubsection"><small>CV of Chief Investigator (Senior Researcher)</small></label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.cv_of_chief_inv.yes" ng-click="showUpload('#uploadcv_of_chief_inv')">
              </div>
              <div class="col col-md-1">
                <!-- <input type="checkbox"   value="1" ng-model="request.cv_of_chief_inv.pending"> -->-
              </div>
              <div class="col col-md-1">
                <!-- <input type="checkbox"   value="1" ng-model="request.cv_of_chief_inv.notallowed"> -->-
              </div>
              <div class="col col-md-2" ng-if="request.cv_of_chief_inv.yes">
                <div id="uploadcv_of_chief_inv" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/COCI" on-upload="onUpload(files, 'CV of Chief Investigator')" on-complete="onComplete(response)" on-error="onError(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.cv_of_chief_inv.file">
                <a href="{{serverIP}}/{{request.cv_of_chief_inv.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i> COCI.{{setEXT(request.cv_of_chief_inv.file.file_name)}}</a>
              </div>
              <div class="clear"></div>

              <div class="col col-md-5">
                <label class="subsubsection"><small>Proof of Funding</small></label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1"  ng-model="request.proof_of_funding.yes" ng-click="showUpload('#uploadproof_of_funding')">
              </div>
              <div class="col col-md-1">
                <!-- <input type="checkbox"   value="1"  ng-model="request.proof_of_funding.pending"> -->-
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1"  ng-model="request.proof_of_funding.notallowed">
              </div>
              <div class="col col-md-2" ng-if="request.proof_of_funding.yes">
                <div id="uploadproof_of_funding" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/POF" on-upload="onUpload(files, 'Proof Of Funding')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.proof_of_funding.file">
                <a href="{{serverIP}}/{{request.proof_of_funding.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i> POF.{{setEXT(request.proof_of_funding.file.file_name)}}</a>
              </div>
              <div class="clear"></div>

              <!-- <div class="col col-md-5">
                <label class="subsubsection"><small>Copies of any questionnaires or surveys you wish to have BREAST distribute to a participant group</small></label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1"  ng-model="request.copies_of_questionnaires.yes">
              </div>
              <div class="col col-md-1"> -->
                <!-- <input type="checkbox"   value="1" ng-model="request.copies_of_questionnaires.pending"> -->
              <!-- </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.copies_of_questionnaires.notallowed">
              </div>
              <div class="col col-md-2" ng-if="request.copies_of_questionnaires.yes">
                <div class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/COQ" on-upload="onUpload(files, 'Copies of Questionnaires')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-1" ng-if="request.copies_of_questionnaires.file">
                <a href="{{serverIP}}/{{request.copies_of_questionnaires.file.url}}" title="Download"><i class="glyphicon glyphicon-paperclip"></i></a>
              </div> -->
              <div class="clear"></div>
              <br><br>

              <div class="col col-md-5">
                <label class="subsection"><small>Ethics</small></label>
              </div>
              <div class="clear"></div>

              <div class="col col-md-5">
                <label class="subsubsection">
                  <small>
                    <b>For projects with pending ethical approval:</b><br>
                    (a) If an ethics submission is already in deliberation, please see attach:<br>
                  </small>
                </label>
              </div>
              <div class="clear"></div>
              <div class="col col-md-5">
                <label class="subsubsection"<small>
                  <small>- a copy of all relevant Ethics Applications you have made for the research project, and</small>
                </label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.copy_relevant_ethics_madeforproject.yes" ng-click="showUpload('#uploadcopy_relevant_ethics_madeforproject')">
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.copy_relevant_ethics_madeforproject.pending">
              </div>
              <div class="col col-md-2" ng-if="request.copy_relevant_ethics_madeforproject.yes">
                <div id="uploadcopy_relevant_ethics_madeforproject" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/CREM" on-upload="onUpload(files, 'Copy of Relevant Ethics Made for Project')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.copy_relevant_ethics_madeforproject.file">
                <a href="{{serverIP}}/{{request.copy_relevant_ethics_madeforproject.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i>  CREM.{{setEXT(request.copy_relevant_ethics_madeforproject.file.file_name)}}</a>
              </div>
              <div class="col col-md-2">
              </div>
              <div class="clear"></div>
              <div class="col col-md-5">
                <label class="subsubsection"<small>
                  <small>- any reviewer comments you may have received</small>
                </label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.reviewer_comments_received.yes" ng-click="showUpload('#uploadreviewer_comments_received')">
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.reviewer_comments_received.pending">
              </div>
              <div class="col col-md-2" ng-if="request.reviewer_comments_received.yes">
                <div id="uploadreviewer_comments_received" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/RCR" on-upload="onUpload(files, 'Reviewer Commens Received')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.reviewer_comments_received.file">
                <a href="{{serverIP}}/{{request.reviewer_comments_received.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i>   RCR.{{setEXT(request.reviewer_comments_received.file.file_name)}}</a>
              </div>
              <div class="col col-md-2">
              </div>
              <div class="clear"></div>
              <br>
              <div class="col col-md-5">
                <label class="subsubsection">
                  <small>
                    <b>For projects with ethical approval:</b><br>
                    (b) If Ethics Approval has already been granted by any HREC/IRB for this project, please attach:<br>
                  </small>
                </label>
              </div>
              <div class="clear"></div>
              <div class="col col-md-5">
                <label class="subsubsection"<small>
                  <small>- a copy of the approved Ethics Application</small>
                </label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox" value="1" ng-model="request.copy_approve_ethics.yes" ng-click="showUpload('#uploadcopy_approve_ethics')">
              </div>
              <div class="col col-md-1">
                <input type="checkbox" value="1" ng-model="request.copy_approve_ethics.pending">
              </div>
              <div class="col col-md-2" ng-if="request.copy_approve_ethics.yes">
                <div id="uploadcopy_approve_ethics" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/CAE" on-upload="onUpload(files, 'Copy of Approved Ethics')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.copy_approve_ethics.file">
                <a href="{{serverIP}}/{{request.copy_approve_ethics.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i> CAE.{{setEXT(request.copy_approve_ethics.file.file_name)}}</a>
              </div>
              <!-- <div class="col col-md-2">
              </div> -->
              <div class="clear"></div>

              <div class="col col-md-5">
                <label class="subsubsection"<small>
                  <small>- letter(s) of Ethics approval, and</small>
                </label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.letters_of_ethics_approval.yes" ng-click="showUpload('#uploadletters_of_ethics_approval')">
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.letters_of_ethics_approval.pending">
              </div>
              <div class="col col-md-2" ng-if="request.letters_of_ethics_approval.yes">
                <div id="uploadletters_of_ethics_approval" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/LOAE" on-upload="onUpload(files, 'Letters of Ethics Approval')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.letters_of_ethics_approval.file">
                <a href="{{serverIP}}/{{request.letters_of_ethics_approval.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i> LOAE.{{setEXT(request.letters_of_ethics_approval.file.file_name)}}</a>
              </div>
              <div class="col col-md-2">
              </div>
              <div class="clear"></div>
              <div class="col col-md-5">
                <label class="subsubsection"<small>
                  <small>- all approved documents for the research project</small>
                </label>
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.approve_document_for_project.yes" ng-click="showUpload('#uploadapprove_document_for_project')">
              </div>
              <div class="col col-md-1">
                <input type="checkbox"   value="1" ng-model="request.approve_document_for_project.pending">
              </div>
              <div class="col col-md-2" ng-if="request.approve_document_for_project.yes">
                <div id="uploadapprove_document_for_project" class="btn btn-primary btn-upload btn-xs" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" method="POST" style="margin-top: 0px;"  upload-button  url="{{serverIP}}/api/1.0/applicant_checklist/{{request._id}}/ADFP" on-upload="onUpload(files, 'Approved Document for Project')" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-paperclip"></i> Upload</div>
              </div>
              <div class="col col-md-2" ng-if="request.approve_document_for_project.file">
                <a href="{{serverIP}}/{{request.approve_document_for_project.file.url}}" title="Download" target="_new"><i class="glyphicon glyphicon-paperclip"></i> ADFP.{{setEXT(request.approve_document_for_project.file.file_name)}}</a>
              </div>
              <div class="col col-md-2" ng-if="">
              </div>

            </div>
            <div class="clear"></div>

          </div>

          <div class="clear"></div>

          <div class="pull-right buttons">
            <a class="btn btn-lg btn-green" ng-disabled="saving" ng-click="save()"><span ng-if="!saving">Save</span><span ng-if="saving">Saving</span></a>
            <a class="btn btn-lg btn-blue" ng-disabled="saving" ng-click="next()">Submit</a>
          </div>

          <div class="clear"></div>

        </div>
      </form>
    </div>
  </div>
</div>
