<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider"><a class="back" title="back" ng-click="back()"></a>4. Application for Access - Resources Required</h3>
      <img ng-src="images/registrationstate4.png" class="registrationstate" />
      <form class="form-registration">
        <h4>4.1 Resources Required</h4>
        <div class="divider"></div>
        <div class="">

          <div class="form-group col-md-12">
            <label for="">What BREAST resources do you require for your project?</label><br>
          </div>

          <div class="form-group col-md-12" ng-class="cases_error ? 'has-error' : ''">
            <label for="" class="control-label">Cases</label>
            <div class="researcher">

              <table class="table">
              <thead>
                <tr>
                  <th width="40%"><label class="subsection"><small>Criteria</small></label></th>
                  <th width="40%"><label class="subsection"><small>Values</small></label></th>
                  <th  width="20%"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in cases track by $index">
                  <td>{{check(key)}}</td>
                  <td>
                    <div ng-repeat="val in value">
                      {{val}}
                    </div>
                  </td>
                  <td><a class="btn btn-danger" ng-click="removeCase(key)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <tr>
                  <td width="40%">
                    <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/criteriasPopover.tpl.html" data-auto-close="1" >
                    <span ng-if="!caseToAdd.criteria">Click to Select A Criteria</span>
                    <span ng-if="caseToAdd.criteria">
                    {{check(caseToAdd.criteria)}}
                    </span>
                    <span class="caret"></span></a>
                  </td>
                  <td width="40%">
                    <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/criteriasValuesPopover.tpl.html" data-auto-close="1" style="width: 250px;overflow: hidden;  text-overflow: ellipsis;">
                    <span ng-if="caseToAdd.value.length == 0">Click to Select Value</span>
                    <span ng-if="caseToAdd.value.length > 0">
                    {{caseToAdd.value}}
                    </span>
                    <span class="caret"></span></a>
                  </td>
                  <td></td>
                </tr>
                </tbody>
            </table>


            </div>
            <div class="clear"></div>
            <div class="buttons">
              <a class="btn btn-lg btn-green" ng-click="addCase()">Add</a>
              <!-- <a class="btn btn-lg btn-green" ng-click="check()">Check</a> -->
            </div>
          </div>

          <div class="clear"><br></div>


          <div class="form-group col-md-12" ng-class="scores_error ? 'has-error' : ''">
            <label for="" class="control-label">Reader Scores</label>
            <div class="researcher">

              <table class="table">
              <thead>
                <tr>
                  <th width="40%"><label class="subsection"><small>Criteria</small></label></th>
                  <th width="40%"><label class="subsection"><small>Values</small></label></th>
                  <th  width="20%"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in scores track by $index">
                  <td >{{checks(key)}}</td>
                  <td>
                    <div ng-repeat="val in value">
                      {{val}}
                    </div>
                  </td>
                  <td><a class="btn btn-danger" ng-click="removeScore(key)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <tr>
                  <td width="40%">
                    <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/scoresPopover.tpl.html" data-auto-close="1" >
                    <span ng-if="!scoreToAdd.criteria">
                    Click to Select A Criteria
                    </span>
                    <span ng-if="scoreToAdd.criteria" >
                    <!-- {{scoreToAdd.criteria}} -->
                    {{checks(scoreToAdd.criteria)}}
                    </span>
                    <span class="caret"></span></a>
                  </td>
                  <td width="40%">
                    <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/scoresValuesPopover.tpl.html" data-auto-close="1" style="width: 250px;overflow: hidden;  text-overflow: ellipsis;">
                    <span ng-if="scoreToAdd.value.length == 0">Click to Select Value</span>
                    <span ng-if="scoreToAdd.value.length > 0">
                    {{scoreToAdd.value}}
                    </span><span class="caret"></span></a>
                  </td>
                  <td></td>
                </tr>
                </tbody>
            </table>


            </div>
            <div class="clear"></div>
            <div class="buttons">
              <a class="btn btn-lg btn-green" ng-click="addScore()">Add</a>
              <!-- <a class="btn btn-lg btn-green" ng-click="check()">Check</a> -->
            </div>
          </div>

          <!-- <div class="clear"><br></div>

          <div class="form-group col-md-10" ng-class="br_numberofparticipants_error ? 'has-error' : ''">
            <div class="form-group">
              <label for="" class="control-label">Participants Number</label>
              <div class="form-inline">
                <input ng-blur="validateParticipantsNumber()" type="text" class="form-control col-md-4" id="" placeholder="" ng-model="request.breastresources.br_numberofparticipants">
              </div>
            </div>
          </div> -->

          <div class="clear"><br><br></div>

          <h4>4.2 Additional Questionnaires or Surveys</h4>
          <div class="divider"></div>

          <div class="form-group col-md-12">
            <label for="">Any additional questionnaires or surveys intended for distribution to participants by BREAST MUST be supplied for review by the management team.</label><br>
          </div>
          <div class="clear"></div>

          <div class="form-group col-md-12">
            <label for="" class="control-label subsubsection">If applying for access to Readers’ data, do you intend to supply readers with an additional survey?</label>
            <div class="researcher">

            <div class="col-md-2">
              <label>
                <input type="radio" ng-model="request.additionalquestionnaires" ng-value="true">
                Yes
              </label>
            </div>

            <div class="col-md-2">
              <label>
                <input type="radio" ng-model="request.additionalquestionnaires" ng-value="false">
                No
              </label>
            </div>



              <!-- <table class="table">
              <thead>
                <tr>
                  <th><label class="subsection"><small>Question</small></label></th>
                  <th><label class="subsection"><small>Description</small></label></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="additionalQuestion in request.additionalquestionnaires  track by $index">
                  <td>{{additionalQuestion.question}}</td>
                  <td>{{additionalQuestion.description}}</td>
                  <td><a class="btn btn-danger" ng-click="removeAdditionalQuestion($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="form-control" placeholder="Question" ng-model="otherAdditionalQuestionToAdd.question">
                  </td>
                  <td>
                    <input type="text" class="form-control" placeholder="Description" ng-model="otherAdditionalQuestionToAdd.description">
                  </td>
                  <td></td>
                </tr>
                </tbody>
            </table> -->


           <!--  </div>
            <div class="clear"></div>
            <div class="buttons">
              <a class="btn btn-lg btn-green" ng-click="addAdditionalQuestion()">Add</a>
            </div> -->
          </div>

          <div class="clear"></div>

          <div class="pull-right buttons">
            <a class="btn btn-lg btn-green" ng-disabled="saving" ng-click="save()"><span ng-if="!saving">Save</span><span ng-if="saving">Saving</span></a>
            <a class="btn btn-lg btn-blue" ng-disabled="saving" ng-click="next()">Next</a>
          </div>

          <div class="clear"></div>

        </div>      
      </form>
    </div>
  </div>
</div>
