<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider"><a class="back" title="back" ng-click="back()"></a>2. Application for Access - Project Information</h3>
      <img ng-src="images/registrationstate2.png" class="registrationstate" />
      <form class="form-registration">
        <h4>2.1 Summary of Research Project</h4>
        <div class="">

          <div class="form-group col-md-12" ng-class="summary_error ? 'has-error' : ''">
            <!-- <label class="control-label" for="">1. Summary of research project in lay language (<a>maximum 200 words</a>)*</label> -->
            <textarea name="summary" id="summary" rows="10" cols="80">
              {{request.summaryofresearch}}
            </textarea>
            <em>Please note this information may be used to inform stakeholders about your research project. It must be written clearly in lay language.</em>
          </div>

          <div class="clearfix"></div>

        </div>

        <div class="divider"></div>

        <h4>2.2 Research Plan Information</h4>
        <div class="">
          <div class="form-group col-md-12">
            <!-- <label for="">2. Research Plan Information</label><br> -->
            <div ng-class="researchplaninfo_error ? 'has-error' : ''">
              <label class="subsection control-label" for="">Aim*</label>
              <textarea name="aim" id="aim" rows="10" cols="80">
                {{request.researchplaninfo}}
              </textarea>
            </div>
            <br>
            <div ng-class="methodology_error ? 'has-error' : ''">
            <label class="subsection control-label" for="">Project Methodology*</label>
            <textarea name="methodology" id="methodology" rows="10" cols="80">
              {{request.projectmethodology}}
            </textarea>
            </div>
          </div>

          <!-- <div class="form-group col-md-10">
            <div class="form-group" ng-class="datareqnumber_error ? 'has-error' : ''">
              <label for="" class="subsection control-label">Data Request*</label><br>
              <label for="" class="subsubsection">Number of readers from whom data are requested</label>
              <div class="form-inline">
                <input ng-blur="validateDataReqNumber()" type="text" class="form-control col-md-4" id="" placeholder="" ng-model="request.datareqnumber">
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <div class="form-group" ng-class="typeofcase_error ? 'has-error' : ''">
              <label for="" class="subsection control-label">Type of Case*</label><br>
              <div class="form-inline">
                <input ng-blur="validateTypeOfCase()" type="text" class="form-control col-md-4" id="" placeholder="" ng-model="request.typeofcase">
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="form-group" ng-class="numberofcase_error ? 'has-error' : ''">
              <label for="" class="subsection control-label">Number of Case/s*</label><br>
              <div class="form-inline">
                <input ng-blur="validateNumberOfCase()" type="text" class="form-control col-md-4" id="" placeholder="" ng-model="request.numberofcase">
              </div>
            </div>
          </div>
          <div class="form-group col-md-10">
            <div class="form-group" ng-class="equipment_error ? 'has-error' : ''">
              <label for="" class="subsection control-label">Equipment*</label><br>
              <div class="form-inline">
                <input ng-blur="validateEquipment()" type="text" class="form-control col-md-4" id="" placeholder="" ng-model="request.equipment">
              </div>
            </div>
          </div> -->

          <div class="form-group col-md-12">
            <div class="form-group" ng-class="statisticaljustification_error ? 'has-error' : ''">
              <label class="subsection control-label" for="">Statistical Justification*</label>
              <textarea name="statisticaljustification" id="statisticaljustification" rows="10" cols="80">
              {{request.statisticaljustification}}
              </textarea>
            </div>
          </div>

          <div class="clearfix"></div>

        </div>
        
        <div class="divider"></div>

        <h4>2.3 Start Date &amp; End Date</h4>

        <div class="">

          <div class="form-group col-md-10">
            <!-- <label for="">3. Start Date and End Date</label> -->
            <div class="form-group">
              <div class="form-group col-xs-6" ng-class="startdate_error ? 'has-error' : ''">
                <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Start Date* <small>(month/day/year)</small></label><br>
                <input ng-blur="validateStartDate()" type="text" class="form-control" ng-model="request.startdate" data-min-date="{{fromDate}}" placeholder="Start Date" bs-datepicker data-autoclose="1">
              </div>
              <div class="form-group col-xs-6" ng-class="enddate_error ? 'has-error' : ''">
                <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>End Date* <small>(month/day/year)</small></label><br>
                <input ng-blur="validateEndDate()" type="text" class="form-control" ng-model="request.enddate" data-min-date="{{request.startdate}}" placeholder="End Date" bs-datepicker data-autoclose="1">
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

        </div>
        <div class="divider"></div>
        <h4>2.4 Other researchers collaborating on Project</h4>

        <div class="">

          <div class="form-group col-md-10">
            <!-- <label for="fullname" class="control-label">4. Other researchers collaborating on Project</label> -->

            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Full Name</th>
                  <th>Department</th>
                  <th>Institution</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr ng-repeat="otherResearcher in request.orcp track by $index">
                  <td>{{otherResearcher.orcp_fullname}}</td>
                  <td>{{otherResearcher.orcp_department}}</td>
                  <td>{{otherResearcher.orcp_institution}}</td>
                  <td><a class="btn btn-danger" ng-click="removeOtherResearchersCollaboratingOnProject($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr> -->
                <tr ng-repeat="otherResearcher in request.orcp track by $index">
                  <td>
                    <div class="">
                      <input type="text" class="form-control" placeholder="Title" ng-model="otherResearcher.orcp_title">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <input type="text" class="form-control" placeholder="Full Name" ng-model="otherResearcher.orcp_fullname">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <input type="text" class="form-control" placeholder="Department" ng-model="otherResearcher.orcp_department">
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" placeholder="Institution" ng-model="otherResearcher.orcp_institution">
                  </td>
                  <td><a class="btn btn-danger" ng-click="removeOtherResearchersCollaboratingOnProject($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <!-- <tr>
                  <td>
                    <div class="">
                      <input type="text" class="form-control" placeholder="Fullname" ng-model="otherResearchersToAdd.orcp_fullname">
                    </div>
                  </td>
                  <td>
                    <div class="">
                      <input type="text" class="form-control" placeholder="Department" ng-model="otherResearchersToAdd.orcp_department">
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" placeholder="Institution" ng-model="otherResearchersToAdd.orcp_institution">
                  </td>
                  <td></td>
                </tr> -->
                </tbody>
            </table>
          </div>

          <div class="form-group col-md-12">


            <div class="buttons">
              <a class="btn btn-lg btn-green" ng-click="addOtherResearchersCollaboratingOnProject()">Add</a>
            </div>

          <div class="clear"></div>
          <div class="pull-right buttons">
            <a class="btn btn-lg btn-green" ng-disabled="saving" ng-click="save()"><span ng-if="!saving">Save</span><span ng-if="saving">Saving</span></a>
            <a class="btn btn-lg btn-blue" ng-disabled="saving" ng-click="next()">Next</a>
          </div>

          <div class="clear"></div>

        </div>      
      </form>
    </div>
  </div>
</div>
