<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-12">

      <!-- <a class="btn btn-success pull-right" disabled href="#" role="button"><i class="glyphicon glyphicon-plus"></i> New Request</a> -->
      <h3 class="pull-left">Search</h3>
      <div class="clear"></div>

    </div>
    <div class="clear"></div>
    <div id="searchoptions">

      <div class="col-md-2">
        <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/testSetPopover.tpl.html" data-auto-close="1" >Test Set<span class="caret"></span></a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/dataTypePopover.tpl.html" data-auto-close="1" >Data Type<span class="caret"></span></a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/filterPopover.tpl.html" data-auto-close="1" >

        Filter

        <span class="caret"></span></a>
      </div>
      <div class="col-md-2">
        <div ng-repeat="columnName in searchQuery.columnName track by $index">
          <a class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/morePopover.tpl.html" ng-click="setcolumnValuesPopover(columnName.name)"  data-auto-close="1" ><span ng-repeat="value in columnName.values">{{value.label}}<span ng-if="!$last">,</span></span><span  ng-if="!columnName.values">{{columnName.name.value}}</span><span  ng-if="columnName.values.length == 0">{{columnName.name}}</span><span class="caret"></span></a><br>
        </div>
      </div>
      <div class="pull-left" style="width: 210px;">
        <input type="" class="form-control" ng-model="searchQuery.searchkeyword" placeholder="Contains Text">
        <div class="clear"></div>
      </div>
      <div class="text-right pull-left" style="width: 100px;">
        <a class="btn btn-default" ng-click="reset()" role="button" title="Clear Filter"><i class="glyphicon glyphicon-repeat"></i></a>&nbsp;
        <a class="btn btn-blue" ng-click="search()" role="button" title="Search"><i class="glyphicon glyphicon-search"></i></a>
      </div>

      <div class="clear"></div>

    </div>

    <!-- <pre>{{searchQuery}}</pre> -->

    <div id="searchresults">
      <!-- Column View -->
      <div class="col-md-3">
        <a ng-show="searchQuery.dataType == 'Readings' || searchQuery.dataType == 'Scores'" class="btn btn-default btn-block btn-popover" type="button" data-placement="bottom-left" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/columnsPopover.tpl.html" data-auto-close="1" >Columns<span class="caret"></span></a>
      </div>

      <div class="col-md-2 col-md-offset-7">
        <a class="btn btn-primary btn-block btn-popover" type="button" data-placement="bottom-right" data-animation="am-fade-and-slide-top" bs-popover data-template="views/popovers/downloadPopover.tpl.html" data-auto-close="1" ><i class="glyphicon glyphicon-save"></i> Download<span class="caret"></span></a>
      </div>

      <div class="col-md-12" ng-show="searchQuery.dataType == 'Readings'" style="overflow-x: scroll;">
      <!-- <div ng-repeat="data in rdatas | limitTo:1 track by $index">
        <span ng-repeat="(key, value) in data track by $index">
              {{key}}
          </span>
      </div> -->
        <table class="table table-bordered table-striped">
          <caption>Page {{ currentPage + 1 }} of {{numberOfPages()}}<br>{{rdatasFilteredSearch.length}} Results <!-- (page 1 of 20) --></caption>
          <thead>
            <tr ng-repeat="data in rdatas | limitTo:1 track by $index">
              <th>
                <input type="checkbox" id="" ng-model="selectAllCheck.value" ng-change="selectAll()">
              </th>
              <th ng-repeat="(key, value) in data track by $index" ng-if="isSelected(key)">
                <a ng-click="setPredicate(key);">{{key}}</a>
                <span ng-if="sortCaret(key)" ng-class="sortCaretPosition()"><span class="caret"></span></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr ng-repeat="rdata in data = (rdatas | filter: testSetFilter | filter:search )"> -->
            <tr ng-repeat="rdata in rdatasFilteredSearch | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize track by $index" current-page="currentPage">
              <td>
                <input type="checkbox" id="" value="option1" ng-model="rdata.selected">
              </td>
              <td ng-repeat="(key, value) in rdata track by $index" ng-if="isSelected(key)" data-column="{{key}}">
              <div ng-if="key == 'Thumbnail'">
                <img src="{{apiEndpoint}}/public/uploads/testsets_thumb/{{rdata.DICOM_folder_ID}}/{{rdata.DICOM_Sequence}}.jpg" width="130" onerror="if (this.src != 'images/anoncase.png') this.src = 'images/anoncase.png';"/>
              </div>
              <div ng-if="key != 'Thumbnail'">
              {{value}}
              </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


<!--       <div class="" ng-show="searchQuery.dataType == 'Cases'">
        <div id="cases">
        <div class="col-md-12"><caption>Page {{ currentPage + 1 }} of {{numberOfPages()}}<br>{{rdatasFilteredSearch.length}} Results</caption></div>

          <div class="col-md-12" style="margin: 10px 0;">
            <label><input type="checkbox" id="" ng-model="selectAllCheck.value" ng-change="selectAll()"> Select All Images</label>
          </div>

          <div class="col-md-4 case" ng-repeat="rdata in rdatasFilteredSearch | startFrom:currentPage*pageSize | limitTo:pageSize track by $index" current-page="currentPage">
            <div class="col-md-6">
              <input type="checkbox" id="" value="option1" ng-model="rdata.selected">
              <img src="{{apiEndpoint}}/public/uploads/testsets_thumb/{{rdata.DICOM_folder_ID}}/{{rdata.DICOM_Sequence}}.jpg" width="130" onerror="if (this.src != 'images/anoncase.png') this.src = 'images/anoncase.png';"/>
            </div>
            <div class="col-md-6">
              <h5>{{rdata.BREAST_labels}} - {{rdata.DICOM_folder_ID}}</h5>
              <p>
                <small>
                {{rdata.Normal_Abnormal}}<br>
                {{rdata.Breast_Density}}<br>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-md-12" ng-show="searchQuery.dataType == 'Scores'" style="overflow-x: scroll;">
        <table class="table table-bordered table-striped">
          <caption>Page {{ currentPage + 1 }} of {{numberOfPages()}}<br>{{cdatasFilteredSearch.length}} Results <!-- (page 1 of 20) --></caption>
          <thead>
            <tr ng-repeat="data in cdatas | limitTo:1 track by $index">
              <th>
                <input type="checkbox" id="" ng-model="selectAllCheck.value" ng-change="selectAll()">
              </th>
              <th ng-repeat="(key, value) in data track by $index" ng-if="isSelected(key)">
                <a ng-click="setPredicate(key);">{{key}}</a>
                <span ng-if="sortCaret(key)" ng-class="sortCaretPosition()"><span class="caret"></span></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr ng-repeat="rdata in data = (rdatas | filter: testSetFilter | filter:search )"> -->
            <!-- <tr dir-paginate="cdata in cdatas | filter: testSetFilter | itemsPerPage: pageSize | orderBy:predicate:reverse track by $index" current-page="currentPage"> -->
            <tr ng-repeat="cdata in cdatasFilteredSearch | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize track by $index" current-page="currentPage">
              <td>
                <input type="checkbox" id="" value="option1" ng-model="cdata.selected">
              </td>
              <td ng-repeat="(key, value) in cdata track by $index" ng-if="isSelected(key)">
              {{value}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

<!--       <div class="col-xs-3 form-inline">
        <div class="form-group">
          <label for="exampleInputName2">Items per Page</label>
          <select ng-model="pageSize" class="form-control">
            <option value="9">9</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="150">150</option>
          </select> 
        </div> 
      </div>
      <div class="col-md-6 text-center">
        <dir-pagination-controls boundary-links="true" template-url="views/popovers/dirPagination.tpl.html"></dir-pagination-controls>
      </div> -->

      <div class="clear"></div>

      <div class="col-xs-3 form-inline">
        <div class="form-group">
          <label for="exampleInputName2">Items per Page</label>
          <select ng-model="pageSize" class="form-control">
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="150">150</option>
          </select> 
        </div> 
      </div>
      <div class="col-md-6 text-center">
        <div class="btn-group" role="group" aria-label="...">
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
          <button ng-class="$index == currentPage ? 'btn-primary' : 'btn-default'" ng-repeat="page in getNumber(numberOfPages()) track by $index" ng-click="setCurrentPage($index)" type="button" class="btn btn-sm">{{$index + 1}}</button>
          <button ng-disabled="currentPage >= lengthResults()/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-default  btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
      </div>
        
      
      <div class="clear"></div>
    </div>

  </div>
</div>
