<div ng-show="user.loggedIn" class="user-div">
	<img ng-src="{{serverIP}}/{{user.avatar.url}}" ng-if="user.avatar"/>
	<img src="images/anon.png" ng-if="!user.avatar"/>
	<div class="user-name">
		<a href="#/admin" ng-if="user.role == 'Administrator'" style="cursor: pointer;">
		{{user.u_fname}} {{user.u_lname}}
		</a>
		<a ng-click="clickUser()" ng-if="user.role == 'Researcher'" style="cursor: pointer;">
		{{user.u_fname}} {{user.u_lname}}
		</a>
	</div>
	<a href="#/userprofile" class="btn"><i class="glyphicon glyphicon-cog"></i> My Account</a>
	<a href="" class="btn btn-primary" ng-click="logout()">Logout</a> 
</div>
<div ng-show="!user.loggedIn">
</div>