<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="divider">User Profile</h3>
      <form class="form-registration">
        <div class="form-group">
          <label for="projectitle">User Information</label>
          <div class="clear"></div>
        </div>
        <div class="col-md-2 text-center">
            <img ng-src="{{serverIP}}/{{user.avatar.url}}" class="img-circle" width="100%" />
            <div class="btn btn-link btn-upload btn-xs" method="PUT"  upload-button  url="{{serverIP}}/api/1.0/user/uploadImage/{{user._id}}" on-upload="onUpload(files)" on-complete="onComplete(response)" ><i class="glyphicon glyphicon-camera"></i> Upload</div>
              
        </div>
        <div class="form-horizontal col-md-10">
          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
              <div class="col col-md-6">
                <input type="text" class="form-control" ng-model="user.u_fname" placeholder="First Name">
              </div>
              <!-- <div class="col col-md-2">
                <input type="text" class="form-control" ng-model="user.u_mi" placeholder="MI">
              </div> -->
              <div class="col col-md-6">
                <input type="text" class="form-control" ng-model="user.u_lname" placeholder="Last Name">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Department</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.department" placeholder="Department">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Institution</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.institution" placeholder="Institution">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <!-- <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Postal Address</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.postal_address" placeholder="Postal Address">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">City/Suburb</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.city_suburb" placeholder="City/Suburb">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.phone" placeholder="Phone">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Fax</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.fax" placeholder="Fax">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Mobile</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="text" class="form-control" ng-model="user.mobile" placeholder="Mobile">
              </div>
            </div>
            <div class="clear"></div>
          </div> -->

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input type="email" class="form-control" ng-model="user.u_email" placeholder="E-Mail Address">
              </div>
            </div>
            <div class="clear"></div>
          </div>

        </div>
        <div class="clear"></div>
        <div class="divider"></div>

        <div class="form-group">
          <label for="projectitle">Login Credentials</label>
          <div class="clear"></div>
        </div>

        <div class="form-horizontal col-md-10 col-md-offset-2">
          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input disabled type="email" class="form-control" placeholder="johndoe@email.com" ng-model="user.u_email">
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <div class="col col-md-12">
                <input disabled type="password" class="form-control" placeholder="Password" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="pull-right buttons">
          <a class="btn btn-lg">Cancel</a>
          <a class="btn btn-lg btn-blue" ng-click="save()">Save</a>
        </div>

        <div class="clear"></div>

      </form>
    </div>
  </div>
</div>
