<div class="mainContent" ng-class="rightSideBar ? 'has-rightSideBar' : ''">
  <div class="articles">
    <article>
       <form id="login">
        <div class="form-group col-md-6">
          <h3 class="title">Verify</h3>
        </div>
        <div class="clear"></div>
        <p ng-show="loginFalse" class="form-group col-md-6"><small>Please enter your passwords</small></p>
        <div class="clear"></div>
        <div class="form-group col-md-6" ng-class="loginFalse? 'has-error' : ''">
          <label for="username" class="control-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" ng-disabled="disablelogin" ng-model="password" ng-readonly="readOnlyLogin" style="margin-bottom: 10px;">
          <input type="password" class="form-control" id="password2" placeholder="Enter your password again to confirm" ng-disabled="disablelogin" ng-model="confirm" ng-readonly="readOnlyLogin">
        </div>
        <div class="clear"></div>
        <div class="checkbox col-md-6">
          <button type="submit" class="btn btn-dark" ng-click="verify()" ng-disabled="disablelogin">Verify</button>
        </div>
      </form>
    </article>
  </div>

    

    <div class="clear"></div>

    </div>